
<div id="content">
	
	<div id="section1">
			<div class="containerH15">
			<div class="w100 h100 ab">
			<div class="w100 h100 rel borderBottom">
				<div class="w50 h100 ab">
					<img class="w100 h100" src="resources/images/sample/checkout/checkout_sub01_off.jpg">
				</div>
				<div class="w50 h100 ab l50">
					<img class="w100 h100" src="resources/images/sample/checkout/checkout_sub02_on.jpg">
				</div>
			</div>
			</div>
			</div>	
	</div>
	
	<!-- 구매정보 시작  -->
	<div id="section2">
			<!-- 날짜정보 -->
			<div class="containerH5">
			<div class="w100 h100 ab outer">
				<span class="inner vMid txC x-small">
					2015-12-11 금요일 오후 05시 12분
				</span>
			</div>
			</div>
			
			<!-- 구매정보 내용 -->
			<div class="containerH40">
			<div class="w100 h100 ab">
			<div class="w100 h100 rel">
				<div class="w96 h100 ab l2 color1">
					<div class="w100 h10">
					<div class="outer">
							<span class="inner vMid txC x-small">
								총2건에 대한 구매정보
							</span>
					</div>
					</div>
					<div class="w100 h90 rel">
						<div class="w96 h95 ab l2">
						<div class="w100 h100 rel colorWhite">
							<div class="w96 h96 ab l2 t2">
								<div class="w100 h16 rel">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL x-small">
											총 상품금액
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR x-small">
											168,000 원
										</span>
									</div>
									</div>
								</div>
								<div class="w100 h16 rel">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL x-small">
											총 적립 포인트
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR x-small">
											1,680 점
										</span>
									</div>
									</div>
								</div>
								<div class="w100 h16 rel">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL x-small">
											총 배송비
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR x-small">
											0 원
										</span>
									</div>
									</div>
								</div>
								<div class="w100 h16 rel">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL x-small">
											픽팝 추가 할인
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR x-small">
											- 0 원
										</span>
									</div>
									</div>
								</div>
								<div class="w100 h16 rel borderBottom">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL x-small">
											팝포인트 사용
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR x-small">
											- 3,000 원
										</span>
									</div>
									</div>
								</div>
								<div class="w100 h20 rel">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL x-small">
											최종 결제 금액
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR x-small">
											165,000 원
										</span>
									</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
	</div>
	
	<!-- 아이템들의 배송정보와 상태 시작 -->
	<div id="section3">
			
			<div class="state">	<!-- 한개의 상태 시작 -->
				<!-- 여백 -->
				<div class="containerH2">
				<div class="w100 h100 ab">
				</div>
				</div>
				
				<!-- 아이템 상태 타이틀 부분 -->
				<div class="containerH10">
				<div class="w100 h100 ab">
				<div class="w100 h100 rel color2 borderTop">
					<div class="w8 h80 ab l2 t10">
						<img class="w100 h100" src="resources/images/sample/checkout/checkout_logo_img1.jpg">
					</div>
					<div class="w38 h100 ab l12">
					<div class="outer">
						<span class="inner vMid txL xx-small">
							[코코샵]
						</span>
					</div>
					</div>
					<div class="w20 h100 ab l50">
					<div class="outer">
						<span class="inner vMid txC x-small">
							배송준비중
						</span>
					</div>
					</div>
					<div class="w26 h60 ab l72 t20">
						<!-- 배송중이면 배송정보가 들어간다 -->
					</div>
				</div>
				</div>
				</div>
				
				<!-- 아이템 사진과 가격 부분 -->
				<div class="containerH40">
				<div class="w100 h100 ab">
				<div class="w100 h100 rel borderTop borderBottom borderLeft">
					<div class="w36 h90 ab l2 t5">
						<img class="w100 h100" src="resources/images/sample/checkout/checkout_sample_img1.jpg">
					</div>
					<div class="w58 h90 ab l40 t5">
					<div class="w100 h100 rel">
						<div class="w100 h20">
						<div class="outer">
							<span class="inner vMid txL x-small">
								롱 후드 집업 코트 (네이비)
							</span>
						</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL x-small">
									상품가격
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR x-small">
									82,000 원
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL x-small">
									적립포인트
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR x-small">
									820 점
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL x-small">
									배송비
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR x-small">
									0 원
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL x-small">
									구매수량
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR x-small">
									1 개
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL x-small">
									선택옵션
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR x-small">
									S(95)
								</span>
							</div>
							</div>
						</div>
					</div>					
					</div>
				</div>
				</div>					
				</div>
			</div>	<!-- 한개의 상태 끝 -->
			
			<div class="state">	<!-- 한개의 상태 시작 -->
				<!-- 여백 -->
				<div class="containerH2">
				<div class="w100 h100 ab">
				</div>
				</div>
				
				<!-- 아이템 상태 타이틀 부분 -->
				<div class="containerH10">
				<div class="w100 h100 ab">
				<div class="w100 h100 rel color2 borderTop">
					<div class="w8 h80 ab l2 t10">
						<img class="w100 h100" src="resources/images/sample/checkout/checkout_logo_img2.jpg">
					</div>
					<div class="w38 h100 ab l12">
					<div class="outer">
						<span class="inner vMid txL xx-small">
							[코코샵]
						</span>
					</div>
					</div>
					<div class="w20 h100 ab l50">
					<div class="outer">
						<span class="inner vMid txC x-small">
							배송중
						</span>
					</div>
					</div>
					<div class="w26 h60 ab l72 t20">
						<button class="w100 h100 colorWhite borderRadius30">
						<div class="outer">
							<span class="inner vMid txC xx-small">
								배송정보
							</span>
						</div>
						</button>
					</div>
				</div>
				</div>
				</div>
				
				<!-- 아이템 사진과 가격 부분 -->
				<div class="containerH40">
				<div class="w100 h100 ab">
				<div class="w100 h100 rel borderTop borderBottom borderLeft">
					<div class="w36 h90 ab l2 t5">
						<img class="w100 h100" src="resources/images/sample/checkout/checkout_sample_img2.jpg">
					</div>
					<div class="w58 h90 ab l40 t5">
					<div class="w100 h100 rel">
						<div class="w100 h20">
						<div class="outer">
							<div class="inner_left">
							<span class="fontSize30">
								롱 후드 집업 코트 (네이비)
							</span>
							</div>
						</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<div class="inner_left">
								<span class="fontSize25">
									상품가격
								</span>
								</div>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<div class="inner_right">
								<span class="fontSize25">
									82,000 원
								</span>
								</div>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<div class="inner_left">
								<span class="fontSize25">
									적립포인트
								</span>
								</div>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<div class="inner_right">
								<span class="fontSize25">
									820 점
								</span>
								</div>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<div class="inner_left">
								<span class="fontSize25">
									배송비
								</span>
								</div>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<div class="inner_right">
								<span class="fontSize25">
									0 원
								</span>
								</div>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<div class="inner_left">
								<span class="fontSize25">
									구매수량
								</span>
								</div>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<div class="inner_right">
								<span class="fontSize25">
									1 개
								</span>
								</div>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<div class="inner_left">
								<span class="fontSize25">
									선택옵션
								</span>
								</div>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<div class="inner_right">
								<span class="fontSize25">
									S(95)
								</span>
								</div>
							</div>
							</div>
						</div>
					</div>					
					</div>
				</div>
				</div>					
				</div>
			</div>	<!-- 한개의 상태 끝 -->
	</div>
</div>