
	<div id="container">
		<div class="containerH10">
		<div id="section1">
			<div class="w50H100Fl">
				<a class="w100H100"href="#/checkout">
					<img class="w100H100" src="resources/images/sample/checkout/checkout_sub01_off.jpg">
				</a>
			</div>
			<div class="w50H100Fl">
				<img class="w100H100" src="resources/images/sample/checkout/checkout_sub02_on.jpg">
			</div>
		</div>
		</div>
		<div class="containerH10">
		<div id="section2">
			<div class="w25H100Fl rel">
				<div class="w80H80 ab r_5 t10">
					<button class="block w100H100">기간설정</button>
				</div>
			</div>
			<div class="w25H100Fl rel">
				<div class="w80H80 ab r5 t10">
					<button class="block w100H100">1년</button>
				</div>
			</div>
			<div class="w25H100Fl rel">
				<div class="w80H80 ab l5 t10">
					<button class="block w100H100">1개월</button>
				</div>
			</div>
			<div class="w25H100Fl rel">
				<div class="w80H80 ab l_5 t10">
					<button class="block w100H100">1주일</button>
				</div>
			</div>
		</div>
		</div>
		<div id="section3">
			<div class="containerH5"><!-- 배송중 타이틀 부분 -->
			<div id="section3_1" class="color1"><div class="outer">
				<div class="inner_center"><span class="fontSize30">
					배송중
				</span></div>
			</div></div>
			</div>
			<div class="containerH20"><!-- 배송중 아이템 부분 -->
			<div id="section3_2">
				<div class="w30H100Fl rel">
					<div class="w80H90 ab l10 t5">
						<img class="w100H100" src="resources/images/sample/checkout/V006_02_01_img1.jpg">
					</div>
				</div>
				<div class="w70H100Fl rel">
					<div class="w90H90 ab l5 t5">
						<div class="w100H20"><div class="outer">
							<div class="inner_left"><span class="fontSize25">
								롱 후드 집업 코트(네이비) 외 1건
							</span></div>
						</div></div>
						<div class="w100H15">
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_left"><span class="fontSize20">
									결제금액
								</span></div>
							</div></div>
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_right"><span class="fontSize20">
									168,000 원
								</span></div>
							</div></div>
						</div>
						<div class="w100H15">
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_left"><span class="fontSize20">
									적립포인트
								</span></div>
							</div></div>
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_right"><span class="fontSize20">
									1,680 점
								</span></div>
							</div></div>
						</div>
						<div class="w100H50"><div class="outer">
							<div class="inner_left_bottom"><span class="fontSize25">
								2015-12-11 금요일 오후 05시 12분
							</span></div>
						</div></div>
					</div>
				</div>			
			</div>
			</div>
		</div>
		<hr>
		<div id="section4">
			<div class="containerH5"><!-- 구매완료 타이틀 부분 -->
			<div id="section4_1" class="color2"><div class="outer">
				<div class="inner_center"><span class="fontSize30">
					구 매 완 료
				</span></div>
			</div></div>
			</div>
			<div class="containerH20"><!-- 구매완료 아이템 부분 -->
			<div id="section4_2">
				<div class="w30H100Fl rel">
					<div class="w80H90 ab l10 t5">
						<img class="w100H100" src="resources/images/sample/checkout/V006_02_01_img2.jpg">
					</div>
				</div>
				<div class="w70H100Fl rel">
					<div class="w90H90 ab l5 t5">
						<div class="w100H20"><div class="outer">
							<div class="inner_left"><span class="fontSize25">
								롱 후드 집업 코트(네이비) 외 8건
							</span></div>
						</div></div>
						<div class="w100H15">
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_left"><span class="fontSize20">
									결제금액
								</span></div>
							</div></div>
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_right"><span class="fontSize20">
									230,000 원
								</span></div>
							</div></div>
						</div>
						<div class="w100H15">
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_left"><span class="fontSize20">
									적립포인트
								</span></div>
							</div></div>
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_right"><span class="fontSize20">
									5,200 점
								</span></div>
							</div></div>
						</div>
						<div class="w100H50"><div class="outer">
							<div class="inner_left_bottom"><span class="fontSize25">
								2015-12-11 금요일 오후 01시 12분
							</span></div>
						</div></div>
					</div>
				</div>			
			</div>
			</div>
		</div>
		<hr>		
		<div id="section5">
			<div class="containerH5"><!-- 환불처리 타이틀 부분 -->
			<div id="section5_1" class="color3"><div class="outer">
				<div class="inner_center"><span class="fontSize30">
					환 불 처 리
				</span></div>
			</div></div>
			</div>
			<div class="containerH20"><!-- 구매완료 아이템 부분 -->
			<div id="section5_2">
				<div class="w30H100Fl rel">
					<div class="w80H90 ab l10 t5">
						<img class="w100H100" src="resources/images/sample/checkout/V006_02_01_img2.jpg">
					</div>
				</div>
				<div class="w70H100Fl rel">
					<div class="w90H90 ab l5 t5">
						<div class="w100H20"><div class="outer">
							<div class="inner_left"><span class="fontSize25">
								롱 후드 집업 코트(네이비) 외 8건
							</span></div>
						</div></div>
						<div class="w100H15">
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_left"><span class="fontSize20">
									결제금액
								</span></div>
							</div></div>
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_right"><span class="fontSize20">
									230,000 원
								</span></div>
							</div></div>
						</div>
						<div class="w100H15">
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_left"><span class="fontSize20">
									적립포인트
								</span></div>
							</div></div>
							<div class="w50H100Fl"><div class="outer">
								<div class="inner_right"><span class="fontSize20">
									5,200 점
								</span></div>
							</div></div>
						</div>
						<div class="w100H50"><div class="outer">
							<div class="inner_left_bottom"><span class="fontSize25">
								2015-10-28 금요일 오후 02시 12분
							</span></div>
						</div></div>
					</div>
				</div>			
			</div>
			</div>
		</div>
	</div>
