
	<div id="container">
		<div class="containerH10">
		<div id="section1">
			<div class="w50H100Fl">
				<img class="w100H100" src="resources/images/sample/checkout/checkout_sub01_off.jpg">
			</div>
			<div class="w50H100Fl">
				<img class="w100H100" src="resources/images/sample/checkout/checkout_sub02_on.jpg">
			</div>
		</div>
		</div>
		<div class="containerH40">
		<div id="section2">
			<div class="w100H10"><div class="outer">
				<div class="inner_center_top"><span class="fontSize20">
					2015-12-11 금요일 오후 05시 12분
				</span></div>
			</div></div>
			<div class="w100H90 rel">
				<div class="w96H95 ab l2 color1">
					<div class="w100H10"><div class="outer">
						<div class="inner_center"><span class="fontSize20">
							총2건에 대한 구매정보
						</span></div>
					</div></div>
					<div class="w100H90 rel">
						<div class="w96H95 ab l2 colorWhite">
							<div class="w100H100 rel">
								<div class="w96H95 ab l2 t2">
									<div class="w100H15">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize25">
												총 상품금액
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize25">
												168,000 원
											</span></div>
										</div></div>
									</div>
									<div class="w100H15">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize25">
												총 적립 포인트
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize25">
												 1,680 점
											</span></div>
										</div></div>
									</div>
									<div class="w100H15">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize25">
												총 배송비
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize25">
												0 원
											</span></div>
										</div></div>
									</div>
									<div class="w100H15">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize25">
												픽팝 추가 할인
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize25">
												- 0 원
											</span></div>
										</div></div>
									</div>
									<div class="w100H15">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize25">
												팝포인트 사용
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize25">
												- 3,000 원
											</span></div>
										</div></div>
									</div>
									<div class="w100H25">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize30">
												최종 결제 금액
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize30">
												165,000 원
											</span></div>
										</div></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

		<div id="section3">	<!-- 아이템 상태 보여주는 section -->
			<div class="containerH35">	<!-- 아이템 틀 -->
			<div class="w100H100 ab">
				<div class="w100H20 color1">	<!-- 아이템 배송상태 -->
					<div class="w7H100Fl rel">
						<div class="w90H90 ab l10 t5 colorWhite">
							<img class="w100H100" src="resources/images/sample/checkout/purchaseDetail_img1.jpg">
						</div>
					</div>
					<div class="w43H100Fl"><div class="outer">
						<div class="inner_left"><span class="fontSize25" style="padding-left: 10%;">
							[코코샵]
						</span></div>
					</div></div>
					<div class="w20H100Fl"><div class="outer">
						<div class="inner_center"><span class="fontSize25">
							배송준비중
						</span></div>
					</div></div>
					<div class="w30H100Fl">
					
					</div>
				</div>
				<div class="w100H80">	<!-- 아이템 정보 -->
					<div class="w30H100Fl rel">
						<div class="w90H90 ab l5 t5">
							<img class="w100H100" src="resources/images/sample/checkout/purchaseDetail_img2.jpg">						
						</div>
					</div>
					<div class="w70H100Fl rel">
						<div class="w96H90 ab l2 t5">
							<div class="w100H25"><div class="outer">
								<div class="inner_left"><span class="fontSize25">
									통 후드 집업 코트(네이비)
								</span></div>
							</div></div>
							<div class="w100H15">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left_top"><span class="fontSize20">
										상품가격
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right_top"><span class="fontSize20">
										82,000원
									</span></div>
								</div></div>
							</div>
							<div class="w100H15">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left_top"><span class="fontSize20">
										적립포인트
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right_top"><span class="fontSize20">
										820점
									</span></div>
								</div></div>
							</div>
							<div class="w100H15">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left_top"><span class="fontSize20">
										배송비
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right_top"><span class="fontSize20">
										0 원
									</span></div>
								</div></div>
							</div>
							<div class="w100H15">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left_top"><span class="fontSize20">
										구매수량
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right_top"><span class="fontSize20">
										1 개
									</span></div>
								</div></div>
							</div>
							<div class="w100H15">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left_top"><span class="fontSize20">
										선택옵션
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right_top"><span class="fontSize20">
										S(95)
									</span></div>
								</div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="containerH35">	<!-- 아이템 틀 -->
			<div class="w100H100 ab">
				<div class="w100H20 color1">	<!-- 아이템 배송상태 -->
					<div class="w7H100Fl rel">
						<div class="w90H90 ab l10 t5 colorWhite">
							<img class="w100H100" src="resources/images/sample/checkout/purchaseDetail_img3.jpg">
						</div>
					</div>
					<div class="w43H100Fl"><div class="outer">
						<div class="inner_left"><span class="fontSize25" style="padding-left: 10%;">
							[수제몰]
						</span></div>
					</div></div>
					<div class="w20H100Fl"><div class="outer">
						<div class="inner_center"><span class="fontSize25">
							배송중
						</span></div>
					</div></div>
					<div class="w30H100Fl rel">
						<div class="w80H80 ab l10 t10">
							<button class="w100H100">배송정보</button>
						</div>
					</div>
				</div>
				<div class="w100H80">	<!-- 아이템 정보 -->
					<div class="w30H100Fl rel">
						<div class="w90H90 ab l5 t5">
							<img class="w100H100" src="resources/images/sample/checkout/purchaseDetail_img4.jpg">						
						</div>
					</div>
					<div class="w70H100Fl rel">
						<div class="w96H90 ab l2 t5">
							<div class="w100H25"><div class="outer">
								<div class="inner_left"><span class="fontSize25">
									오버핏 울 모직 롱코트
								</span></div>
							</div></div>
							<div class="w100H15">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left_top"><span class="fontSize20">
										상품가격
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right_top"><span class="fontSize20">
										86,000원
									</span></div>
								</div></div>
							</div>
							<div class="w100H15">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left_top"><span class="fontSize20">
										적립포인트
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right_top"><span class="fontSize20">
										860점
									</span></div>
								</div></div>
							</div>
							<div class="w100H15">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left_top"><span class="fontSize20">
										배송비
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right_top"><span class="fontSize20">
										0 원
									</span></div>
								</div></div>
							</div>
							<div class="w100H15">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left_top"><span class="fontSize20">
										구매수량
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right_top"><span class="fontSize20">
										1 개
									</span></div>
								</div></div>
							</div>
							<div class="w100H15">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left_top"><span class="fontSize20">
										선택옵션
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right_top"><span class="fontSize20">
										S(95)
									</span></div>
								</div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
