<!--
/* ==============================================================================
 * 파일명 : cmn_item_detail.html
 * 화면명 : (공통)상품상세 (View)
 * 작성자 : 김종길
 * 작성일 : 2016.01.25
 * ==============================================================================
 */
 -->

<div class="bgGrid"></div>
	<div style="height: 100%">sdsds</div>
	<!-- 상품 상세 S -->
	<div class="wrapper contentBg">
		<!-- Row1 S -->
		<div class="hrap-15">
			<div class="wrap">
				<!-- 프로필이미지 영역 -->
				<div class="outerB w15 h100">
					<img class="shopProfile" src="resources/images/sample/sample_profile_user_woman_01_512x512.jpg" alt="...">
					<span class="shopProfileTxt">SHOP</span>
				</div>
				<!-- 상단 정보 영역 -->
				<div class="outer w75 h50"><span class="inner vBot txL shopId small">코이샵</span></div>
				<div class="outer w10 h50"><span class="inner vMid txC glyphicon glyphicon-ban-circle medium gray"></span></div>
				<div class="outerB w85 h50">
					<div class="commentBg">
						<span class="comment x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
					</div>
				</div>
			</div>
		</div><!-- Row1 E -->
		
		<!-- Row2 S -->
		<div class="hrap-100">
			<div class="wrap">
				<div class="outerB w100 h100">
					<img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="...">
				</div>
			</div>
		</div><!-- Row2 E -->
		
		<!-- Row3 S -->
		<div class="hrap-20">
			<div class="wrap">
				<div class="outer w20 h100">
					<span class="inner vMid txC icon-pickicon xxx-large gray"></span>
				</div>
				<div class="outer w80 h50">
					<span class="inner vBot txL medium">고급진 빨강 자켓</span>
				</div>
				<div class="outer w50 h50">
					<div class="outer pd-10px">
						<div class="inner vMid txC buyBtn">
							<span class="wht medium">옵션선택 및 바로구매</span>
						</div>
					</div>
					<div class="inner vMid txR">
						<span class="icon-priceicon medium green">99,999</span>
					</div>
				</div>
				<div class="outer w30 h50">
					<div class="inner vMid txC">
						<span class="icon-pointicon medium green">99,999</span>
					</div>
				</div>
			</div>
		</div><!-- Row3 E -->
		
		<!-- Row4 S -->
		<div class="hrap-20">
			<div class="wrap">
				<div class="outer pd-10px">
					<div class="inner vMid txC buyBtn">
						<span class="wht medium">옵션선택 및 바로구매</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Row4 E -->
	</div><!--  상품 상세 E -->
	
	<div class="wrapper">
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w50 h100 tabBtnArea">
					<div class="inner vMid txC tabBtn active">
						<span class="small">상품리뷰</span>
					</div>
				</div>
				<div class="outer w50 h100 tabBtnArea">
					<div class="inner vMid txC tabBtn">
						<span class="small">질문/답변</span>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div class="wrapper contentBg">
		<div class="irap-500 replyBg">
			<!-- 프로필이미지 영역 -->
			<div class="outer w15">
				<div class="inner w100 h100">
					<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
				</div>
			</div>
			<!-- 정보 영역 -->
			<div class="outer w25 mg-tb5px"><span class="inner vMid txL shopId small">유저001</span></div>
			<div class="outerL w50 fL"><span class="vBot icon-fllwicon small green">9999</span></div>
			<div class="outerR w10 fL"><span class="vTop banIcon glyphicon glyphicon-ban-circle medium gray"></span></div>
			<div class="outer w85 h50 fL">
					<span class="commentNonOver x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
			</div>
		</div>
		<div class="irap-500 replyBg">
			<!-- 프로필이미지 영역 -->
			<div class="w15 fL">
				<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
			</div>
			<!-- 정보 영역 -->
			<div class="outerL w25 fL"><span class="vBot shopId small">유저001</span></div>
			<div class="outerL w50 fL"><span class="vBot icon-fllwicon small green">9999</span></div>
			<div class="outerR w10 fL"><span class="vTop banIcon glyphicon glyphicon-ban-circle medium gray"></span></div>
			<div class="w85 fL">
					<span class="commentNonOver x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.		여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.
					여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.
					여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.
					</span>
			</div>
		</div>
		<div class="irap-500 replyBg">
			<!-- 프로필이미지 영역 -->
			<div class="w15 fL">
				<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
			</div>
			<!-- 정보 영역 -->
			<div class="outerL w25 fL"><span class="vBot shopId small">유저001</span></div>
			<div class="outerL w50 fL"><span class="vBot icon-fllwicon small green">9999</span></div>
			<div class="outerR w10 fL"><span class="vTop banIcon glyphicon glyphicon-ban-circle medium gray"></span></div>
			<div class="w85 h50 fL">
					<span class="commentNonOver x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
			</div>
		</div>
	</div>
	
	<div class="wrapper">
		<div class="hrap-100"><div class="wrap">
			<img class="outerX w50 h50" src="resources/images/sample/sample_profile_user_woman_01_512x512.jpg" alt="...">
			<div class="outer w50 h50 bgBlue"><span class="inner vTop w30 h100">A</span><span class="vMid w30 h100">B</span><span class="vBot w30 h100">C</span></div>
				<div class="outer w50 h50 bgGreen">
					<span class="outer w40"><div >A</span>
					<span class="outerO w40">B</span>
					<span class="outerO w20">C</span>
				</div>
			</div>
		</div>
	</div>
