
<div id="content">
	<!-- 아이템들의 배송정보와 상태 시작 -->
	<div id="section1">
			<!-- 한개의 상태 시작 -->
			<div class="state">	
				
				<!-- 아이템 상태 타이틀 부분 -->
				<div class="containerH10">
				<div class="w100 h100 ab">
				<div class="w100 h100 rel color1 borderTop">
					<div class="w8 h80 ab l2 t10">
						<img class="w100 h100" src="resources/images/sample/checkout/checkout_logo_img1.jpg">
					</div>
					<div class="w48 h100 ab l12">
					<div class="outer">
						<span class="inner vMid txL xx-small">
							[코코샵]
						</span>
					</div>
					</div>
					<div class="w40 h100 ab l60">
					<div class="outer">
						<span class="inner vMid txC xx-small">
							5만원 이상 무료배송 적용됨
						</span>
					</div>
					</div>
				</div>
				</div>
				</div>
				
				<!-- 아이템 사진과 가격 부분 -->
				<div class="containerH40">
				<div class="w100 h100 ab">
				<div class="w100 h100 rel borderTop borderBottom borderLeft">
					<div class="w36 h90 ab l2 t5">
						<img class="w100 h100" src="resources/images/sample/checkout/checkout_sample_img1.jpg">
					</div>
					<div class="w58 h90 ab l40 t5">
					<div class="w100 h100 rel">
						<div class="w100 h20">
						<div class="outer">
							<span class="inner vMid txL x-small">
								롱 후드 집업 코트 (네이비)
							</span>
						</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									상품가격
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									82,000 원
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									적립포인트
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									820 점
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									배송비
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									0 원
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									구매수량
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									1 개
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									선택옵션
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									S(95)
								</span>
							</div>
							</div>
						</div>
					</div>					
					</div>
					<div class="w2 h100 ab l98"></div>
				</div>
				</div>					
				</div>
			</div>	
			<!-- 한개의 상태 끝 -->
			<!-- 한개의 상태 시작 -->
			<div class="state">	
				
				<!-- 아이템 상태 타이틀 부분 -->
				<div class="containerH10">
				<div class="w100 h100 ab">
				<div class="w100 h100 rel color1 borderTop">
					<div class="w8 h80 ab l2 t10">
						<img class="w100 h100" src="resources/images/sample/checkout/checkout_logo_img2.jpg">
					</div>
					<div class="w48 h100 ab l12">
					<div class="outer">
						<span class="inner vMid txL xx-small">
							[수제몰]
						</span>
					</div>
					</div>
					<div class="w40 h100 ab l60">
					<div class="outer">
						<span class="inner vMid txC xx-small">
							5만원 이상 무료배송 적용됨
						</span>
					</div>
					</div>
				</div>
				</div>
				</div>
				
				<!-- 아이템 사진과 가격 부분 -->
				<div class="containerH40">
				<div class="w100 h100 ab">
				<div class="w100 h100 rel borderTop borderBottom borderLeft">
					<div class="w36 h90 ab l2 t5">
						<img class="w100 h100" src="resources/images/sample/checkout/checkout_sample_img2.jpg">
					</div>
					<div class="w58 h90 ab l40 t5">
					<div class="w100 h100 rel">
						<div class="w100 h20">
						<div class="outer">
							<span class="inner vMid txL x-small">
								오버핏 울 모직 롱코트
							</span>
						</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									상품가격
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									86,000 원
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									적립포인트
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									860 점
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									배송비
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									0 원
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									구매수량
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									1 개
								</span>
							</div>
							</div>
						</div>
						<div class="w100 h15 rel">
							<div class="w50 h100 ab">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									선택옵션
								</span>
							</div>
							</div>
							<div class="w50 h100 ab l50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									S(95)
								</span>
							</div>
							</div>
						</div>
					</div>					
					</div>
				</div>
				</div>					
				</div>
			</div>	<!-- 한개의 상태 끝 -->
	</div>
	
	<div id="section2">
			<div class="containerH15">
			<div class="w96 h75 ab l2 t15">
			<div class="w100 h100 rel borderDefault">
				<div class="w35 h100 ab l6">
				<div class="outer">
					<span class="inner vMid txL x-small">
						가용 팝포인트 (5000p)
					</span>	
				</div>
				</div>
				<div class="w6 h100 ab l46">
				<div class="outer">
					<span class="inner vMid txC x-small">
						-
					</span>
				</div>
				</div>
				
				<!-- input text로 바꿔야함!!!!!!!!!!!!!!!!!!!! -->
				<div class="w35 h50 ab l52 t25 borderDefault">
				<div class="outer">
					<span class="inner vMid txR x-small" style="padding-right: 5%;">
						3,000
					</span>
				</div>	
				</div>
				
				
				<div class="w6 h100 ab l87">
				<div class="outer">
					<span class="inner vMid txC x-small">
						p
					</span>
				</div>
				</div>
			</div>	
			</div>
			</div>	
	</div>
	
	<div id="section3">
			<div class="containerH50">
			<div class="w100 h100 ab">
			<div class="w100 h100 rel">
				<div class="w2 h100 ab">
				
				</div>
				<div class="w96 h100 ab l2 color2">
					<div class="w100 h10">
					<div class="outer">
						<span class="inner vMid txC x-small">
							총 1건에 대한 결제예상정보
						</span>
					</div>
					</div>
					<div class="w100 h65 rel">
						<div class="w96 h100 ab l2">
						<div class="w100 h100 rel colorWhite">
							<div class="w96 h96 ab l2 t2">
								<div class="w100 h15 rel">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL xx-small">
											총 상품금액
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR xx-small">
											82,000 원
										</span>
									</div>
									</div>
								</div>
								<div class="w100 h15 rel">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL xx-small">
											총 적립 포인트
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR xx-small">
											820 점
										</span>
									</div>
									</div>
								</div>
								<div class="w100 h15 rel">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL xx-small">
											총 배송비
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR xx-small">
											0 원
										</span>
									</div>
									</div>
								</div>
								<div class="w100 h15 rel">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL xx-small">
											픽팝추가할인
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR xx-small">
											- 0 원
										</span>
									</div>
									</div>
								</div>
								<div class="w100 h15 rel">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL xx-small">
											팝포인트 사용
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR xx-small">
											- 3,000 원
										</span>
									</div>
									</div>
								</div>
								<div class="w100 h3 rel borderBottom"></div>
								<div class="w100 h20 rel">
									<div class="w50 h100 ab">
									<div class="outer">
										<span class="inner vMid txL xx-small">
											결제예상금액
										</span>
									</div>
									</div>
									<div class="w50 h100 ab l50">
									<div class="outer">
										<span class="inner vMid txR xx-small">
											79,000 원
										</span>
									</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
					<div class="w100 h25 rel">
						<div class="w96 h75 ab l2 t15">
							<button class="w100 h100 color3 borderRadius10">
							<div class="outer">
								<span class="inner vMid txC x-small fontColorWhite">
									결 제 진 행
								</span>
							</div>
							</button>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
	</div>
	
</div>