
<div id="content">
	<div id="section1">
			<div class="containerH30">
			<div class="w100 h30 ab">
			<div class="outer">
				<span class="inner vMid txC xx-small">
					아이템을 선택하세요
				</span>
			</div>
			</div>
			<div class="w100 h35 ab t30">
			<div class="w100 h100 rel">
				<button class="w90 h90 ab l5 t5 colorWhite borderRadius10">
				<div class="outer">
					<span class="inner vMid txC xx-small">
						전&nbsp&nbsp&nbsp&nbsp&nbsp체
					</span>
				</div>
				</button>
			</div>
			</div>
			<div class="w100 h35 ab t65">
			<div class="w100 h100 rel">
				<button class="w90 h90 ab l5 t5 colorWhite borderRadius10">
				<div class="outer">
					<span class="inner vMid txC xx-small">
						전&nbsp&nbsp&nbsp&nbsp&nbsp체
					</span>
				</div>
				</button>
			</div>
			</div>
		</div>
		</div>
		
		<!-- section2 -->
		<div id="section2">
			<div class="containerH40">
			<div class="w100 h100 ab">
			<div class="w100 h100 rel">
				<div class="w30 h97 ab l3 t2 borderDefault">
				<div class="w100 h100 rel">
					<div class="w90 h90 ab l5 t5">
						<div class="w100 h80">
							<img class="w100 h100" src="resources/images/sample/cmn/sample_img.jpg">
						</div>
						<div class="w100 h20">
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									길면 ....처리 추가해야합니다
								</span>
							</div>
							</div>
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									w 82,000
								</span>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="w30 h97 ab l35 t2 borderDefault">
				<div class="w100 h100 rel">
					<div class="w90 h90 ab l5 t5">
						<div class="w100 h80">
							<img class="w100 h100" src="resources/images/sample/cmn/sample_img.jpg">
						</div>
						<div class="w100 h20">
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									길면 ....처리 추가해야합니다
								</span>
							</div>
							</div>
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									w 82,000
								</span>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="w30 h97 ab l67 t2 borderDefault">
				<div class="w100 h100 rel">
					<div class="w90 h90 ab l5 t5">
						<div class="w100 h80">
							<img class="w100 h100" src="resources/images/sample/cmn/sample_img.jpg">
						</div>
						<div class="w100 h20">
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									길면 ....처리 추가해야합니다
								</span>
							</div>
							</div>
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									w 82,000
								</span>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			</div>
			</div>
			
			<div class="containerH40">
			<div class="w100 h100 ab">
			<div class="w100 h100 rel">
				<div class="w30 h97 ab l3 t2 borderDefault">
				<div class="w100 h100 rel">
					<div class="w90 h90 ab l5 t5">
						<div class="w100 h80">
							<img class="w100 h100" src="resources/images/sample/cmn/sample_img.jpg">
						</div>
						<div class="w100 h20">
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									길면 ....처리 추가해야합니다
								</span>
							</div>
							</div>
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									w 82,000
								</span>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="w30 h97 ab l35 t2 borderDefault">
				<div class="w100 h100 rel">
					<div class="w90 h90 ab l5 t5">
						<div class="w100 h80">
							<img class="w100 h100" src="resources/images/sample/cmn/sample_img.jpg">
						</div>
						<div class="w100 h20">
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									길면 ....처리 추가해야합니다
								</span>
							</div>
							</div>
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									w 82,000
								</span>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="w30 h97 ab l67 t2 borderDefault">
				<div class="w100 h100 rel">
					<div class="w90 h90 ab l5 t5">
						<div class="w100 h80">
							<img class="w100 h100" src="resources/images/sample/cmn/sample_img.jpg">
						</div>
						<div class="w100 h20">
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									길면 ....처리 추가해야합니다
								</span>
							</div>
							</div>
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									w 82,000
								</span>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			</div>
			</div>
			
			<div class="containerH40">
			<div class="w100 h100 ab">
			<div class="w100 h100 rel">
				<div class="w30 h97 ab l3 t2 borderDefault">
				<div class="w100 h100 rel">
					<div class="w90 h90 ab l5 t5">
						<div class="w100 h80">
							<img class="w100 h100" src="resources/images/sample/cmn/sample_img.jpg">
						</div>
						<div class="w100 h20">
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									길면 ....처리 추가해야합니다
								</span>
							</div>
							</div>
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									w 82,000
								</span>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="w30 h97 ab l35 t2 borderDefault">
				<div class="w100 h100 rel">
					<div class="w90 h90 ab l5 t5">
						<div class="w100 h80">
							<img class="w100 h100" src="resources/images/sample/cmn/sample_img.jpg">
						</div>
						<div class="w100 h20">
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									길면 ....처리 추가해야합니다
								</span>
							</div>
							</div>
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									w 82,000
								</span>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="w30 h97 ab l67 t2 borderDefault">
				<div class="w100 h100 rel">
					<div class="w90 h90 ab l5 t5">
						<div class="w100 h80">
							<img class="w100 h100" src="resources/images/sample/cmn/sample_img.jpg">
						</div>
						<div class="w100 h20">
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txL xx-small">
									길면 ....처리 추가해야합니다
								</span>
							</div>
							</div>
							<div class="w100 h50">
							<div class="outer">
								<span class="inner vMid txR xx-small">
									w 82,000
								</span>
							</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			</div>
			</div>
		</div>
		
		<!-- section3 -->
		<div id="section3">
			<div id="section3_wrap">
			<div class="w100 h100 ab">
			<div class="w100 h100 rel colorWhite">
				<button class="w90 h90 ab l5 t5 colorWhite borderRadius10">
				<div class="outer">
					<span class="inner vMid txC x-small">취&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp소</span>
				</div>
				</button>
			</div>		
			</div>
			</div>
		</div>
		
</div>
	
	
	
<script type="text/javascript">
	init();
	initEvent();
		
	function init() {
		var $section2 = $("#section2");
		var $section3 = $("#section3");
		var height = getHeight($section3);
		
		$section2.css('margin-bottom', height);
	}
	
	function initEvent() {
		
		$(window).resize(function() {
			$("#section2").css('margin-bottom', getHeight($("#section3")));
			console.log("바뀜");
		});
	}
	
	function getHeight($item) {
		var value = parseInt($item.css('height'));
		
		return value;
	}
</script>
