
	<div id="container">
		<div id="section1">	<!-- 아이템 상태 보여주는 section -->
			<div class="containerH35">	<!-- 아이템 틀 -->
			<div class="w100H100 ab">
				<div class="w100H20 rel color1">	<!-- 아이템 관련 내용 -->
					<div class="w96H70 ab l2 t15 hid">
						<div class="w5H100Fl">
							<img class="w100H100" src="resources/images/sample/cmn/orderConfirm_img1.jpg">
						</div>
						<div class="w55H100Fl"><div class="outer">
							<div class="inner_left"><span class="fontSize25 padl2">
								[코코샵]
							</span></div>
						</div></div>
						<div class="w40H100Fl"><div class="outer">
							<div class="inner_right"><span class="fontSize25">
								5만원 이상 무료배송 적용됨
							</span></div>
						</div></div>
					</div>
				</div>
				<div class="w100H80 rel">	<!-- 아이템 정보 -->
					<div class="w96H90 ab l2 t5 hid">
						<div class="w30H100Fl">
							<img class="w100H100" src="resources/images/sample/cmn/orderConfirm_img2.jpg">
						</div>
						<div class="w70H100Fl">
							<div class="w100H20"><div class="outer">
								<div class="inner_left"><span class="fontSize25">
									롱 후드 집업 코트 (네이비)
								</span></div>
							</div></div>
							<div class="w100H16">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left"><span class="fontSize20">
										상품가격
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right"><span class="fontSize20">
										82,000원
									</span></div>
								</div></div>
							</div>
							<div class="w100H16">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left"><span class="fontSize20">
										적립포인트
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right"><span class="fontSize20">
										820 점
									</span></div>
								</div></div>
							</div>
							<div class="w100H16">
								 <div class="w50H100Fl"><div class="outer">
									<div class="inner_left"><span class="fontSize20">
										배송비
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right"><span class="fontSize20">
										0 원
									</span></div>
								</div></div>
							</div>
							<div class="w100H16">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left"><span class="fontSize20">
										구매수량
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right"><span class="fontSize20">
										1 개
									</span></div>
								</div></div> 
							</div>
							<div class="w100H16">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left"><span class="fontSize20">
										선택옵션
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right"><span class="fontSize20">
										S(95)
									</span></div>
								</div></div>	
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="containerH35">	<!-- 아이템 틀 -->
			<div class="w100H100 ab">
				<div class="w100H20 rel color1">	<!-- 아이템 관련 내용 -->
					<div class="w96H70 ab l2 t15 hid">
						<div class="w5H100Fl">
							<img class="w100H100" src="resources/images/sample/cmn/orderConfirm_img3.jpg">
						</div>
						<div class="w55H100Fl"><div class="outer">
							<div class="inner_left"><span class="fontSize25 padl2">
								[수제몰]
							</span></div>
						</div></div>
						<div class="w40H100Fl"><div class="outer">
							<div class="inner_right"><span class="fontSize25">
								5만원 이상 무료배송 적용됨
							</span></div>
						</div></div>
					</div>
				</div>
				<div class="w100H80 rel">	<!-- 아이템 정보 -->
					<div class="w96H90 ab l2 t5 hid">
						<div class="w30H100Fl">
							<img class="w100H100" src="resources/images/sample/cmn/orderConfirm_img4.jpg">
						</div>
						<div class="w70H100Fl">
							<div class="w100H20"><div class="outer">
								<div class="inner_left"><span class="fontSize25">
									오버핏 울 모직 롱코트
								</span></div>
							</div></div>
							<div class="w100H16">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left"><span class="fontSize20">
										상품가격
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right"><span class="fontSize20">
										86,000원
									</span></div>
								</div></div>
							</div>
							<div class="w100H16">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left"><span class="fontSize20">
										적립포인트
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right"><span class="fontSize20">
										860 점
									</span></div>
								</div></div>
							</div>
							<div class="w100H16">
								 <div class="w50H100Fl"><div class="outer">
									<div class="inner_left"><span class="fontSize20">
										배송비
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right"><span class="fontSize20">
										0 원
									</span></div>
								</div></div>
							</div>
							<div class="w100H16">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left"><span class="fontSize20">
										구매수량
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right"><span class="fontSize20">
										1 개
									</span></div>
								</div></div> 
							</div>
							<div class="w100H16">
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_left"><span class="fontSize20">
										선택옵션
									</span></div>
								</div></div>
								<div class="w50H100Fl"><div class="outer">
									<div class="inner_right"><span class="fontSize20">
										S(95)
									</span></div>
								</div></div>	
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			
			<div class="containerH15">
			<div id="section2">
				<div class="w100H100 rel">
					<div class="w96H90 ab l2 t5">
						<div class="w45H100Fl"><div class="outer">
							<div class="inner_center"><span>
								가용 팝포인트(5000p)
							</span></div>
						</div></div>
						<div class="w55H100Fl"><div class="outer">
							<div class="inner_center">
								 -
								3000
								 p
							</div>
						</div></div>
					</div>
				</div>
			</div>
			</div>
			
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////// -->
			<div class="containerH45">
			<div id="section3">
				<div class="w100H100 rel">
				<div class="w96H100 ab l2 color2">
					<div class="w100H10"><div class="outer">	
						<div class="inner_center"><span class="fontSize20">
							총 1건에 대한 최종결제정보
						</span></div>
					</div></div>
					<div class="w100H65 rel">
						<div class="w96H100 ab l2 colorWhite">
							<div class="w100H15">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize25 padl5">
												총 상품금액
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize25 padr5">
												82,000 원
											</span></div>
										</div></div>
									</div>
									<div class="w100H15">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize25 padl5">
												총 적립 포인트
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize25 padr5">
												 820 점
											</span></div>
										</div></div>
									</div>
									<div class="w100H15">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize25 padl5">
												총 배송비
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize25 padr5">
												0 원
											</span></div>
										</div></div>
									</div>
									<div class="w100H15">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize25 padl5">
												픽팝 추가 할인
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize25 padr5">
												- 0 원
											</span></div>
										</div></div>
									</div>
									<div class="w100H15">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize25 padl5">
												팝포인트 사용
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize25 padr5">
												- 3,000 원
											</span></div>
										</div></div>
									</div>
									<div class="w100H25">
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_left"><span class="fontSize30 padl5">
												결제예상금액
											</span></div>
										</div></div>
										<div class="w50H100Fl"><div class="outer">
											<div class="inner_right"><span class="fontSize30 padr5">
												79,000 원
											</span></div>
										</div></div>
									</div>
						</div>
					</div>
					<div class="w100H25 rel">
						<div class="w96H80 ab l2 t10 color3"><div class="outer">
							<div class="inner_center"><span style="color: white;">
								결 제 진 행
							</span></div>
						</div></div>
					</div>
				</div>
				</div>
			</div>
			</div>
			
		</div>
	</div>
