<!--
/* ==============================================================================
 * 파일명 : cmn_style_detail.html
 * 화면명 : (공통)컨텐츠상세 (View)
 * 작성자 : 김종길
 * 작성일 : 2016.01.25
 * ==============================================================================
 */
 -->

<div class="bgGrid"></div>

	<!-- 상품 상세 S -->
	<div class="wrapper contentBg">
		<!-- Row1 S -->
		<div class="hrap-15">
			<div class="wrap">
				<!-- 프로필이미지 영역 -->
				<div class="outerB w15 h100">
					<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
				</div>
				<!-- 상단 정보 영역 -->
				<div class="outer w25 h50">
					<span class="inner vBot txL shopId small">유저001</span>
				</div>
				<div class="outer w50 h50">
					<span class="inner vBot txL icon-fllwicon small green">9999</span>
				</div>
				<div class="outer w10 h50">
					<span class="inner vMid txC glyphicon glyphicon-ban-circle medium gray"></span>
				</div>
				<div class="outerB w85 h50">
					<div class="commentBg">
						<span class="comment x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
					</div>
				</div>
			</div>
		</div><!-- Row1 E -->
		
		<!-- Row2 S -->
		<div class="hrap-30">
			<div class="wrap">
				<a href="#/cmnItemDetail/cid">
				<div class="outerB w30 h100"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
				<div class="outer w20 h100 fR"><span class="inner vMid txC icon-pickicon xx-large gray"></span></div>
				<div class="outer w50 h30"><span class="inner vBot txL small">고급진 빨강 자켓</span></div>
				<div class="outer w50 h30"><div class="inner vTop txL"><span class="icon-priceicon small green">99,999</span></div></div>
				</a>
				<div class="outer w8 h40">
					<div class="inner vBot"><img class="shopProfileMini" src="resources/images/sample/sample_profile_user_woman_01_512x512.jpg" alt="..."></div>
				</div>
				<div class="outer w30 h40">
					<span class="inner vBot txL small">&nbsp;고고샵</span>
				</div>
			</div>
		</div>
		<div class="hrap-30">
			<div class="wrap">
				<a href="#/cmnItemDetail/cid">
				<div class="outerB w30 h100"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
				<div class="outer w20 h100 fR"><span class="inner vMid txC icon-pickicon xx-large gray"></span></div>
				<div class="outer w50 h30"><span class="inner vBot txL small">고급진 빨강 자켓</span></div>
				<div class="outer w50 h30"><div class="inner vTop txL"><span class="icon-priceicon small green">99,999</span></div></div>
				</a>
				<div class="outer w8 h40">
					<div class="inner vBot"><img class="shopProfileMini" src="resources/images/sample/sample_profile_user_woman_01_512x512.jpg" alt="..."></div>
				</div>
				<div class="outer w30 h40">
					<span class="inner vBot txL small">&nbsp;고고샵</span>
				</div>
			</div>
		</div>
		<div class="hrap-30">
			<div class="wrap">
				<a href="#/cmnItemDetail/cid">
				<div class="outerB w30 h100"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
				<div class="outer w20 h100 fR"><span class="inner vMid txC icon-pickicon xx-large gray"></span></div>
				<div class="outer w50 h30"><span class="inner vBot txL small">고급진 빨강 자켓</span></div>
				<div class="outer w50 h30"><span class="inner vTop txL icon-priceicon small green">99,999</span></div>
				</a>
				<div class="outer w8 h40">
					<div class="inner vBot"><img class="shopProfileMini" src="resources/images/sample/sample_profile_user_woman_01_512x512.jpg" alt="..."></div>
				</div>
				<div class="outer w30 h40">
					<span class="inner vBot txL small">&nbsp;고고샵</span>
				</div>
			</div>
		</div>
		<!-- Row2 E -->
		
		<!-- Row3 S -->
		<div class="hrap-20">
			<div class="wrap">
				<div class="outer w15 h100">
					<span class="inner vMid txC icon-pickicon xxx-large gray"></span>
				</div>
				<div class="outer w30 h33">
					<div class="inner vMid txC">
						<span class="vBot txC x-small">총 상품가격</span>
					</div>
				</div>
				<div class="outer w25 h33">
					<div class="inner vMid txC">
						<span class="vBot txC x-small">예상 적립포인트</span>
					</div>
				</div>
				<div class="outer w25 h33">
					<div class="inner vMid txC">
						<span class="vBot txC x-small">예상 배송비</span>
					</div>
				</div>
				<div class="outer w30 h33">
					<div class="inner vMid txC">
						<span class="icon-priceicon medium green">99,999</span>
					</div>
				</div>
				<div class="outer w25 h33">
					<div class="inner vMid txC">
						<span class="icon-pointicon medium green">+999</span>
					</div>
				</div>
				<div class="outer w25 h33">
					<div class="inner vMid txC">
						<span class="glyphicon glyphicon-plane medium green">2,500</span>
					</div>
				</div>
				<div class="outer w80 h34">
					<span class="inner vMid txC x-small">999명의 픽커가 이 상품을 픽박스에 담았습니다.</span>
				</div>
			</div>
		</div><!-- Row3 E -->
	</div><!--  상품 상세 E -->
	
	<div class="wrapper">
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w50 h100 tabBtnArea">
					<div class="inner vMid txC tabBtn active">
						<span class="small">상품리뷰</span>
					</div>
				</div>
				<div class="outer w50 h100 tabBtnArea">
					<div class="inner vMid txC tabBtn">
						<span class="small">질문/답변</span>
						</div>
					</div>
			</div>
		</div>
	</div>
	
	<div class="wrapper contentBg">
		<div class="irap-100 replyBg">
			<!-- 프로필이미지 영역 -->
			<div class="outer w15 h100">
					<img class="inner vMid userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
			</div>
			<!-- 정보 영역 -->
			<div class="outer w25"><span class="inner vMid txL shopId small">유저001</span></div>
			<div class="outer w50"><span class="inner vBot txL icon-fllwicon small green">9999</span></div>
			<div class="outer w10"><span class="inner vTop txR banIcon glyphicon glyphicon-ban-circle medium gray"></span></div>
			<div class="outer w85 h50">
					<span class="inner commentNonOver x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
			</div>
		</div>
		<div class="irap-100 replyBg">
			<!-- 프로필이미지 영역 -->
			<div class="w15 fL">
				<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
			</div>
			<!-- 정보 영역 -->
			<div class="outer w25"><span class="inner vBot txL shopId small">유저001</span></div>
			<div class="outer w50"><span class="inner vBot txL icon-fllwicon small green">9999</span></div>
			<div class="outer w10"><span class="inner vTop txR banIcon glyphicon glyphicon-ban-circle medium gray"></span></div>
			<div class="w85 fL">
				<span class="w50 h100 fL commentNonOver x-small">
					여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.
					<div class="hrap-30 replyProduct">
						<div class="wrap">
							<a href="#/cmnItemDetail/cid">
							<div class="outerB w32 h100"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
							<div class="outer w20 h100 fR"><span class="inner vMid txC icon-pickicon xx-large gray"></span></div>
							<div class="outer w45 h30"><span class="inner vBot txL x-small">고급진 빨강 자켓</span></div>
							<div class="outer w45 h30"><span class="inner vTop txL icon-priceicon x-small green">99,999</span></div>
							</a>
							<div class="outer w10 h40">
								<div class="inner vBot"><img class="shopProfileMini" src="resources/images/sample/sample_profile_user_woman_01_512x512.jpg" alt="..."></div>
							</div>
							<div class="outer w30 h40">
								<span class="inner vBot txL x-small">&nbsp;고고샵</span>
							</div>
						</div>
					</div>
				</span>
			</div>
		</div>
		<div class="irap-100 replyBg">
			<!-- 프로필이미지 영역 -->
			<div class="outerB w15">
				<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
			</div>
			<!-- 정보 영역 -->
			<div class="outer w25"><span class="inner vBot txL shopId small">유저001</span></div>
			<div class="outer w50"><span class="inner vBot txL icon-fllwicon small green">9999</span></div>
			<div class="outer w10"><span class="inner vTop txR banIcon glyphicon glyphicon-ban-circle medium gray"></span></div>
			<div class="w85 h50 fL">
					<span class="commentNonOver x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
			</div>
		</div>
	</div>
	
	<div class="hrap-15">
		<div class="wrap">
			<div class="outer txC pd-10px">
				<div class="inner vMid txC buyBtn">
					<span class="wht medium">더보기</span>
				</div>
			</div>
		</div>
	</div>
