@CHARSET "UTF-8";

/********************************body 초기화********************************/

#content {width 100%;height: auto;
		 margin: 0; padding: 0; border: none;}

/***************************container 관련 class****************************/
.containerH2 	{width: 100%; height: 0;
				position: relative; padding-bottom: 2%;}
.containerH5 	{width: 100%; height: 0;
				position: relative; padding-bottom: 5%;}
.containerH7_5 	{width: 100%; height: 0;
				position: relative; padding-bottom: 7.5%;}
.containerH10 	{width: 100%; height: 0;
				position: relative; padding-bottom: 10%;}
.containerH15 	{width: 100%; height: 0;
				position: relative; padding-bottom: 15%;}
.containerH20 	{width: 100%; height: 0;
				position: relative; padding-bottom: 20%;}
.containerH30 	{width: 100%; height: 0;
				position: relative; padding-bottom: 30%;}
.containerH35 	{width: 100%; height: 0;
				position: relative; padding-bottom: 35%;}
.containerH40 	{width: 100%; height: 0;
				position: relative; padding-bottom: 40%;}
.containerH50 	{width: 100%; height: 0;
				position: relative; padding-bottom: 50%;}				
.containerH100 	{width: 100%; height: 0;
				position: relative; padding-bottom: 100%;}				

/******************************정렬 관련 class******************************/			

.inner_center 			{display: table-cell;
						text-align: center; vertical-align: middle;}
.inner_center_top 		{display: table-cell;
						text-align: center; vertical-align: top;}
.inner_center_bottom 	{display: table-cell;
						text-align: center; vertical-align: bottom;}
.inner_left 			{display: table-cell;
						text-align: left; vertical-align: middle;}
.inner_left_top 		{display: table-cell;
						text-align: left; vertical-align: top;}
.inner_left_bottom 		{display: table-cell;
						text-align: left; vertical-align: bottom;}			
.inner_right 			{display: table-cell;
						text-align: right; vertical-align: middle;}			
.inner_right_top 		{display: table-cell;
						text-align: right; vertical-align: top;}
.inner_right_bottom 	{display: table-cell;
						text-align: right; vertical-align: bottom;}
/******************************font 관련 class*****************************/

.fontSize10 {font-size: 1vw;}
.fontSize15 {font-size: 1.5vw;}
.fontSize20 {font-size: 2vw;}
.fontSize25 {font-size: 2.5vw;}
.fontSize30 {font-size: 3vw;}

/**************************** width/height ********************************/

.w2 	{width: 2%;}
.w4 	{width: 4%;}
.w5 	{width: 5%;}
.w6 	{width: 6%;}
.w8 	{width: 8%;}
.w10 	{width: 10%;}
.w10_25 {width: 10.25%;}
.w15 	{width: 15%;}
.w20 	{width: 20%;}
.w20_5 	{width: 20.5%;}
.w21 	{width: 21%;}
.w21_5	{width: 21.5%;}
.w20_5	{width: 20.5%;}
.w23_5	{width: 23.5%;}
.w10_25 {width: 10.25%;}
.w10_5 	{width: 10.5%;}
.w18_4 	{width: 18.4%;}
.w19_2 	{width: 19.2%;}
.w48_5 	{width: 48.5%;}



.h2 	{height: 2%;}
.h3 	{height: 3%;}
.h5 	{height: 5%;}
.h10 	{height: 10%;}
.h15 	{height: 15%;}
.h16 	{height: 16%;}
.h20 	{height: 20%;}
.h25 	{height: 25%;}
.h30 	{height: 30%;}
.h49 	{height: 49%;}
.h50 	{height: 50%;}
.h60 	{height: 60%;}
.h65 	{height: 65%;}
.h70 	{height: 70%;}
.h75 	{height: 75%;}
.h80 	{height: 80%;}
.h85 	{height: 85%;}
.h90 	{height: 90%;}
.h94 	{height: 94%;}
.h95 	{height: 95%;}
.h96 	{height: 96%;}
.h98 	{height: 98%;}
.h100 	{height: 100%;}

/****************************** position **********************************/


.l3_5 {left: 3.5%;}
.l12_75 {left: 12.75%;}
.l13_5 {left: 13.5%;}
.l14_25 {left: 14.25%;}
.l20_2 {left: 20.2%;}
.l20_4 {left: 20.4%;}
.l22_5 {left: 22.5%;}
.l25_5 {left: 25.5%;}
.l26_5 {left: 26.5%;}
.l28_5 {left: 28.5%;}
.l34_5 {left: 34.5%;}
.l38_25 {left: 38.25%;}
.l38_75 {left: 38.75%;}
.l38_5 {left: 38.5%;}
.l40_4 {left: 40.4%;}
.l40_8 {left: 40.8%;}
.l41_5 {left: 41.5%;}
.l50_5 {left: 50.5%;}
.l51_5 {left: 51.5%;}
.l60_5 {left: 60.5%;}
.l60_6 {left: 60.6%;}
.l61_2 {left: 61.2%;}
.l63_25 {left: 63.25%;}
.l63_75 {left: 63.75%;}
.l63_5 {left: 63.5%;}
.l68_25 {left: 68.25%;}
.l71_5 {left: 71.5%;}
.l73_5 {left: 73.5%;}
.l75_5 {left: 75.5%;}
.l76_5 {left: 76.5%;}
.l79_5 {left: 79.5%;}
.l80_8 {left: 80.8%;}
.l81_5 {left: 81.5%;}
.l81_6 {left: 81.6%;}
.l87_75 {left: 87.75%;}
.l88_5 {left: 88.5%;}
.l89_25 {left: 89.25%;}

.h7_5{height: 7.5%;}

.t1  {top: 1%;}
.t2  {top: 2%;}
.t3  {top: 3%;}
.t4  {top: 4%;}
.t5  {top: 5%;}
.t6  {top: 6%;}
.t7  {top: 7%;}
.t8  {top: 8%;}
.t9  {top: 9%;}
.t10 {top: 10%;}
.t11 {top: 11%;}
.t12 {top: 12%;}
.t13 {top: 13%;}
.t14 {top: 14%;}
.t15 {top: 15%;}
.t16 {top: 16%;}
.t17 {top: 17%;}
.t18 {top: 18%;}
.t19 {top: 19%;}
.t20 {top: 20%;}
.t21 {top: 21%;}
.t22 {top: 22%;}
.t23 {top: 23%;}
.t24 {top: 24%;}
.t25 {top: 25%;}
.t26 {top: 26%;}
.t27 {top: 27%;}
.t28 {top: 28%;}
.t29 {top: 29%;}
.t30 {top: 30%;}
.t31 {top: 31%;}
.t32 {top: 32%;}
.t33 {top: 33%;}
.t34 {top: 34%;}
.t35 {top: 35%;}
.t36 {top: 36%;}
.t37 {top: 37%;}
.t38 {top: 38%;}
.t39 {top: 39%;}
.t40 {top: 40%;}
.t41 {top: 41%;}
.t42 {top: 42%;}
.t43 {top: 43%;}
.t44 {top: 44%;}
.t45 {top: 45%;}
.t46 {top: 46%;}
.t47 {top: 47%;}
.t48 {top: 48%;}
.t49 {top: 49%;}
.t50 {top: 50%;}
.t51 {top: 51%;}
.t52 {top: 52%;}
.t53 {top: 53%;}
.t54 {top: 54%;}
.t55 {top: 55%;}
.t56 {top: 56%;}
.t57 {top: 57%;}
.t58 {top: 58%;}
.t59 {top: 59%;}
.t60 {top: 60%;}
.t61 {top: 61%;}
.t62 {top: 62%;}
.t63 {top: 63%;}
.t64 {top: 64%;}
.t65 {top: 65%;}
.t66 {top: 66%;}
.t67 {top: 67%;}
.t68 {top: 68%;}
.t69 {top: 69%;}
.t70 {top: 70%;}
.t71 {top: 71%;}
.t72 {top: 72%;}
.t73 {top: 73%;}
.t74 {top: 74%;}
.t75 {top: 75%;}
.t76 {top: 76%;}
.t77 {top: 77%;}
.t78 {top: 78%;}
.t79 {top: 79%;}
.t80 {top: 80%;}
.t81 {top: 81%;}
.t82 {top: 82%;}
.t83 {top: 83%;}
.t84 {top: 84%;}
.t85 {top: 85%;}
.t86 {top: 86%;}
.t87 {top: 87%;}
.t88 {top: 88%;}
.t89 {top: 89%;}
.t90 {top: 90%;}
.t91 {top: 91%;}
.t92 {top: 92%;}
.t93 {top: 93%;}
.t94 {top: 94%;}
.t95 {top: 95%;}
.t96 {top: 96%;}
.t97 {top: 97%;}
.t98 {top: 98%;}
.t99 {top: 99%;}
.t100 {top: 100%;}

.fL {float: left;}
.fR {float: right;}
.fC {clear: both;}
/******************************** etc *************************************/

.rel 	{position: relative;}
.ab 	{position: absolute;}

.fL 	{float: left;}
.hid 	{overflow: hidden;}

.displayTable {display: table;}


.borderDefault 	{border: 1px solid black;}
.backgroundTransparent {background-color: rgba( 255, 255, 255, 0);}
.borderTop 		{border-top: 1px solid black;}
.borderBottom 	{border-bottom: 1px solid black;}
.borderLeft 	{border-left: 1px solid black;}
.borderRight 	{border-right: 1px solid black;}



.fontColorWhite {color: white;}
.fontWeightBold {font-weight: bold;}

.red {background-color: red;}
.orange {background-color: orange;}
.yellow {background-color: yellow;}
.green {background-color: green;}
.blue {background-color: blue;}
.navy {background-color: navy;}
.purple {background-color: purple;}
.olive {background-color: olive;}

.borderRadius5	{border-radius: 5px;}
.borderRadius10	{border-radius: 10px;}
.borderRadius20	{border-radius: 20px;}
.borderRadius30	{border-radius: 30px;}
.borderRadius40	{border-radius: 40px;}

.borderTopLeftRadius5 {border-top-left-radius: 5px;}
.borderTopLeftRadius10 {border-top-left-radius: 10px;}
.borderTopLeftRadius20 {border-top-left-radius: 20px;}
.borderTopLeftRadius30 {border-top-left-radius: 30px;}
.borderTopLeftRadius40 {border-top-left-radius: 40px;}
.borderTopRightRadius5 {border-top-right-radius: 5px;}
.borderTopRightRadius10 {border-top-right-radius: 10px;}
.borderTopRightRadius20 {border-top-right-radius: 20px;}
.borderTopRightRadius30 {border-top-right-radius: 30px;}
.borderTopRightRadius40 {border-top-right-radius: 40px;}
.borderBottomLeftRadius5 {border-bottom-left-radius: 5px;}
.borderBottomLeftRadius10 {border-bottom-left-radius: 10px;}
.borderBottomLeftRadius20 {border-bottom-left-radius: 20px;}
.borderBottomLeftRadius30 {border-bottom-left-radius: 30px;}
.borderBottomLeftRadius40 {border-bottom-left-radius: 40px;}
.borderBottomRightRadius5 {border-bottom-right-radius: 5px;}
.borderBottomRightRadius10 {border-bottom-right-radius: 10px;}
.borderBottomRightRadius20 {border-bottom-right-radius: 20px;}
.borderBottomRightRadius30 {border-bottom-right-radius: 30px;}
.borderBottomRightRadius40 {border-bottom-right-radius: 40px;}

.borderRadius50p {border-radius: 50%;}

.fontColorWhite {color: white;}
.fontWeightBold {font-weight: bold;}

.cursorDefault {cursor: default;}

.red {background-color: red;}
.orange {background-color: orange;}
.yellow {background-color: yellow;}
.lime {background-color: lime}
.blue {background-color: blue;}
.navy {background-color: navy;}
.purple {background-color: purple;}
.white {background-color: white;}
.green {background-color: green;}
.black {background-color: black;}
.olive {background-color: olive;}

.colorRed {background: rgb(240, 072, 072);}
.colorOrange {background: rgb(242, 198, 065);}
.colorYellow {background: rgb(250, 249, 071);}
.colorGreen {background: rgb(063, 216, 133);}
.colorBlue {background: rgb(078, 160, 220);}
.colorNavy {background: rgb(073, 097, 143);}
.colorPurple {background: rgb(191, 088, 180);}
.colorWhite {background-color: rgb(255, 255, 255);}
.colorGray {background-color: rgb(089, 089, 089);}
.colorBlack {background-color: rgb(039, 039, 039);}
.colorPink {background-color: rgb(255, 214, 232);}
.colorEmerald {background-color: rgb(102, 254, 203);}
.colorGold {background-color: rgb(220, 208, 136);}
.colorBrown {background-color: rgb(107, 101, 069);}
.colorOcher {background-color: rgb(192, 123, 068);}

.fontSize1{font-size: 1vw;}
.fontSize2{font-size: 2vw;}
.fontSize3{font-size: 3vw;}
.fontSize4{font-size: 4vw;}
.fontSize5{font-size: 5vw;}
.fontSize6{font-size: 6vw;}
.fontSize7{font-size: 7vw;}
.fontSize8{font-size: 8vw;}
.fontSize9{font-size: 9vw;}
.fontSize10{font-size: 10vw;}
.fontSize11{font-size: 11vw;}
.fontSize12{font-size: 12vw;}
.fontSize13{font-size: 13vw;}
.fontSize14{font-size: 14vw;}
.fontSize15{font-size: 15vw;}
.fontSize16{font-size: 16vw;}
.fontSize17{font-size: 17vw;}
.fontSize18{font-size: 18vw;}
.fontSize19{font-size: 19vw;}
.fontSize20{font-size: 20vw;}

