
.icon-checkouticon:before { content: '\e800'; } /* '' */
.icon-filtericon:before { content: '\e801'; } /* '' */
.icon-fllwicon:before { content: '\e802'; } /* '' */
.icon-homeicon:before { content: '\e803'; } /* '' */
.icon-likeicon:before { content: '\e804'; } /* '' */
.icon-pickboxicon:before { content: '\e805'; } /* '' */
.icon-pickicon:before { content: '\e806'; } /* '' */
.icon-pointicon:before { content: '\e807'; } /* '' */
.icon-popmodeicon:before { content: '\e808'; } /* '' */
.icon-priceicon:before { content: '\e809'; } /* '' */
.icon-swapviewicon:before { content: '\e80a'; } /* '' */