<!--
/* ==============================================================================
 * 파일명 : marketplace_list.html
 * 화면명 : 마켓플레이스 > 목록 (View)
 * 작성자 : 김종길
 * 작성일 : 2016.01.25
 * ==============================================================================
 */
 -->
<div class="bgGrid"></div>
<div class="content marketplace" ><!-- 마켓플레이스 S-->

	<!-- 필터버튼영역 S-->
	<div class="col-xs-12 navbar-fixed-top filter-area filter-dropshadow">
		<div class="hrap-15 filterBtnBg">
			<div class="wrap">
				<div class="outer w20 h100">
					<span class="inner vMid txR icon-filtericon large wht"></span>
				</div>
				<div class="outer w60 h100">
						<span class="inner vMid txC x-small wht txC">필터를 선택하여<br> 원하시는 상품만 골라보세요</span>
				</div>
				<div class="outer w20 h100">
					<span ng-click="click()"  class="inner vMid txL icon-swapviewicon large wht" ng-class="{' ': active == true , 'active': active == false}">
					</span>
				</div>
			</div>
		</div>
	</div><!-- 필터버튼영역 E-->
	
	<!-- 	판매자 상품 S -->
	<div ng-class="{'col-xs-12': active == true , 'col-xs-6': active == false}"  class="col-sm-6 contentBg">
		<!-- Row1 S -->
		<div class="hrap-15">
			<div class="wrap">
				<!-- 프로필이미지 영역 -->
				<div class="outerB w15 h100">
					<img class="shopProfile" src="resources/images/sample/sample_profile_user_woman_01_512x512.jpg" alt="...">
					<span class="shopProfileTxt">SHOP</span>
				</div>
				<!-- 상단 정보 영역 -->
				<div class="outer w75 h50"><span class="inner vBot txL shopId small">코이샵</span></div>
				<div class="outer w10 h50"><span class="inner vMid txC glyphicon glyphicon-ban-circle medium gray"></span></div>
				<div class="outerB w85 h50">
					<div class="commentBg">
						<span class="comment x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
					</div>
				</div>
			</div>
		</div><!-- Row1 E -->
		
		<!-- Row2 S -->
		<div class="hrap-100">
			<div class="wrap">
				<div class="outerB w100 h100">
					<a href="#/cmnItemDetail/pid"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></a>
				</div>
			</div>
		</div><!-- Row2 E -->
		
		<!-- Row3 S -->
		<div class="hrap-20">
			<div class="wrap">
				<div class="outer w20 h100">
					<span class="inner vMid txC icon-pickicon xxx-large gray"></span>
				</div>
				<div class="outer w80 h50">
					<span class="inner vMid txL medium">고급진 빨강 자켓</span>
				</div>
				<div class="outer w50 h50">
					<span class="inner vMid txR icon-priceicon medium green">99,999</span>
				</div>
				<div class="outer w30 h50">
					<span class="inner vMid txC icon-pointicon medium green">+999</span>
				</div>
			</div>
		</div><!-- Row3 E -->
	</div><!-- 	판매자 상품 E -->
	
	<!-- 	스타일 컨텐츠 type-1 S -->
	<div ng-class="{'col-xs-12': active == true , 'col-xs-6': active == false}"  class="col-sm-6 contentBg">
		<!-- Row1 S -->
		<div class="hrap-15">
			<div class="wrap">
				<!-- 프로필이미지 영역 -->
				<div class="outerB w15 h100">
					<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
				</div>
				<!-- 상단 정보 영역 -->
				<div class="outer w25 h50">
					<span class="inner vBot txL shopId small">유저001</span>
				</div>
				<div class="outer w50 h50">
					<span class="inner vBot txL icon-fllwicon small green">9999</span>
				</div>
				<div class="outer w10 h50">
					<span class="inner vMid txC glyphicon glyphicon-ban-circle medium gray"></span>
				</div>
				<div class="outerB w85 h50">
					<div class="commentBg">
						<span class="comment x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
					</div>
				</div>
			</div>
		</div><!-- Row1 E -->
		
		<!-- Row2 S -->
		<div class="hrap-100">
			<div class="wrap">
				<a href="#/styleDetail/cid">
					<div class="outerB w100 h100"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
				</a>
			</div>
		</div><!-- Row2 E -->
		
		<!-- Row3 S -->
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w20 h100">
					<span class="inner vMid txC icon-likeicon small gray">999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-comment small gray">999</span>
				</div>
				<div class="outer w30 h100">
					<span class="inner vMid txC icon-priceicon small green">99,999</span>
				</div>
				<div class="outer w20 h100">
					<span class="inner vMid txL icon-pointicon small green">+999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-plane small green">2,500</span>
				</div>
			</div>
		</div><!-- Row3 E -->
	</div><!-- 	스타일 컨텐츠 type-1 E -->
	
	<!-- 	스타일 컨텐츠 type-2 S -->
	<div ng-class="{'col-xs-12': active == true , 'col-xs-6': active == false}"  class="col-sm-6 contentBg">
		<!-- Row1 S -->
		<div class="hrap-15">
			<div class="wrap">
				<!-- 프로필이미지 영역 -->
				<div class="outerB w15 h100">
					<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
				</div>
				<!-- 상단 정보 영역 -->
				<div class="outer w25 h50">
					<span class="inner vBot txL shopId small">유저001</span>
				</div>
				<div class="outer w50 h50">
					<span class="inner vBot txL icon-fllwicon small green">9999</span>
				</div>
				<div class="outer w10 h50">
					<span class="inner vMid txC glyphicon glyphicon-ban-circle medium gray"></span>
				</div>
				<div class="outerB w85 h50">
					<div class="commentBg">
						<span class="comment x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
					</div>
				</div>
			</div>
		</div><!-- Row1 E -->
		
		<!-- Row2 S -->
		<div class="hrap-100">
			<div class="wrap">
				<a href="#/styleDetail/cid">
					<div class="outerB w50 h100"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x1024.jpg" alt="..."></div>
					<div class="outerB w50 h100"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x1024.jpg" alt="..."></div>
				</a>
			</div>
		</div><!-- Row2 E -->
		
		<!-- Row3 S -->
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w20 h100">
					<span class="inner vMid txC icon-likeicon small gray">999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-comment small gray">999</span>
				</div>
				<div class="outer w30 h100">
					<span class="inner vMid txC icon-priceicon small green">99,999</span>
				</div>
				<div class="outer w20 h100">
					<span class="inner vMid txL icon-pointicon small green">+999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-plane small green">2,500</span>
				</div>
			</div>
		</div><!-- Row3 E -->
	</div><!-- 	스타일 컨텐츠 type-2 E -->
	
	<!-- 	스타일 컨텐츠 type-3 S -->
	<div ng-class="{'col-xs-12': active == true , 'col-xs-6': active == false}"  class="col-sm-6 contentBg">
		<!-- Row1 S -->
		<div class="hrap-15">
			<div class="wrap">
				<!-- 프로필이미지 영역 -->
				<div class="outerB w15 h100">
					<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
				</div>
				<!-- 상단 정보 영역 -->
				<div class="outer w25 h50">
					<span class="inner vBot txL shopId small">유저001</span>
				</div>
				<div class="outer w50 h50">
					<span class="inner vBot txL icon-fllwicon small green">9999</span>
				</div>
				<div class="outer w10 h50">
					<span class="inner vMid txC glyphicon glyphicon-ban-circle medium gray"></span>
				</div>
				<div class="outerB w85 h50">
					<div class="commentBg">
						<span class="comment x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
					</div>
				</div>
			</div>
		</div><!-- Row1 E -->
		
		<!-- Row2 S -->
		<div class="hrap-100">
			<div class="wrap">
				<a href="#/styleDetail/cid">
					<div class="outerB w50 h50"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w50 h100 fR"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x1024.jpg" alt="..."></div>
					<div class="outerB w50 h50"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
				</a>
			</div>
		</div><!-- Row2 E -->
		
		<!-- Row3 S -->
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w20 h100">
					<span class="inner vMid txC icon-likeicon small gray">999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-comment small gray">999</span>
				</div>
				<div class="outer w30 h100">
					<span class="inner vMid txC icon-priceicon small green">99,999</span>
				</div>
				<div class="outer w20 h100">
					<span class="inner vMid txL icon-pointicon small green">+999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-plane small green">2,500</span>
				</div>
			</div>
		</div><!-- Row3 E -->
	</div><!-- 	스타일 컨텐츠 type-3 E -->
	
	<!-- 	스타일 컨텐츠 type-4 S -->
	<div ng-class="{'col-xs-12': active == true , 'col-xs-6': active == false}"  class="col-sm-6 contentBg">
		<!-- Row1 S -->
		<div class="hrap-15">
			<div class="wrap">
				<!-- 프로필이미지 영역 -->
				<div class="outerB w15 h100">
					<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
				</div>
				<!-- 상단 정보 영역 -->
				<div class="outer w25 h50">
					<span class="inner vBot txL shopId small">유저001</span>
				</div>
				<div class="outer w50 h50">
					<span class="inner vBot txL icon-fllwicon small green">9999</span>
				</div>
				<div class="outer w10 h50">
					<span class="inner vMid txC glyphicon glyphicon-ban-circle medium gray"></span>
				</div>
				<div class="outerB w85 h50">
					<div class="commentBg">
						<span class="comment x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
					</div>
				</div>
			</div>
		</div><!-- Row1 E -->
		
		<!-- Row2 S -->
		<div class="hrap-100">
			<div class="wrap">
				<a href="#/styleDetail/cid">
					<div class="outerB w50 h50"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w50 h50"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w50 h50"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w50 h50"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
				</a>
			</div>
		</div><!-- Row2 E -->
		
		<!-- Row3 S -->
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w20 h100">
					<span class="inner vMid txC icon-likeicon small gray">999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-comment small gray">999</span>
				</div>
				<div class="outer w30 h100">
					<span class="inner vMid txC icon-priceicon small green">99,999</span>
				</div>
				<div class="outer w20 h100">
					<span class="inner vMid txL icon-pointicon small green">+999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-plane small green">2,500</span>
				</div>
			</div>
		</div><!-- Row3 E -->
	</div><!-- 	스타일 컨텐츠 type-4 E -->
	
	<!-- 	스타일 컨텐츠 type-5 S -->
	<div ng-class="{'col-xs-12': active == true , 'col-xs-6': active == false}"  class="col-sm-6 contentBg">
		<!-- Row1 S -->
		<div class="hrap-15">
			<div class="wrap">
				<!-- 프로필이미지 영역 -->
				<div class="outerB w15 h100">
					<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
				</div>
				<!-- 상단 정보 영역 -->
				<div class="outer w25 h50">
					<span class="inner vBot txL shopId small">유저001</span>
				</div>
				<div class="outer w50 h50">
					<span class="inner vBot txL icon-fllwicon small green">9999</span>
				</div>
				<div class="outer w10 h50">
					<span class="inner vMid txC glyphicon glyphicon-ban-circle medium gray"></span>
				</div>
				<div class="outerB w85 h50">
					<div class="commentBg">
						<span class="comment x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
					</div>
				</div>
			</div>
		</div><!-- Row1 E -->
		
		<!-- Row2 S -->
		<div class="hrap-100">
			<div class="wrap">
				<a href="#/styleDetail/cid">
					<div class="outerB w25 h50"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x1024.jpg" alt="..."></div>
					<div class="outerB w25 h50"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x1024.jpg" alt="..."></div>
					<div class="outerB w50 h50"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w50 h50"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w50 h50"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
				</a>
			</div>
		</div><!-- Row2 E -->
		
		<!-- Row3 S -->
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w20 h100">
					<span class="inner vMid txC icon-likeicon small gray">999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-comment small gray">999</span>
				</div>
				<div class="outer w30 h100">
					<span class="inner vMid txC icon-priceicon small green">99,999</span>
				</div>
				<div class="outer w20 h100">
					<span class="inner vMid txL icon-pointicon small green">+999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-plane small green">2,500</span>
				</div>
			</div>
		</div><!-- Row3 E -->
	</div><!-- 	스타일 컨텐츠 type-5 E -->
	
	<!-- 	스타일 컨텐츠 type-6 S -->
	<div ng-class="{'col-xs-12': active == true , 'col-xs-6': active == false}"  class="col-sm-6 contentBg">
		<!-- Row1 S -->
		<div class="hrap-15">
			<div class="wrap">
				<!-- 프로필이미지 영역 -->
				<div class="outerB w15 h100">
					<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
				</div>
				<!-- 상단 정보 영역 -->
				<div class="outer w25 h50">
					<span class="inner vBot txL shopId small">유저001</span>
				</div>
				<div class="outer w50 h50">
					<span class="inner vBot txL icon-fllwicon small green">9999</span>
				</div>
				<div class="outer w10 h50">
					<span class="inner vMid txC glyphicon glyphicon-ban-circle medium gray"></span>
				</div>
				<div class="outerB w85 h50">
					<div class="commentBg">
						<span class="comment x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
					</div>
				</div>
			</div>
		</div><!-- Row1 E -->
		
		<!-- Row2 S -->
		<div class="hrap-100">
			<div class="wrap">
				<a href="#/styleDetail/cid">
					<div class="outerB w33 h67"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x1024.jpg" alt="..."></div>
					<div class="outerB w33 h67"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x1024.jpg" alt="..."></div>
					<div class="outerB w34 h67"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x1024.jpg" alt="..."></div>
					<div class="outerB w33 h33"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w33 h33"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w34 h33"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
				</a>
			</div>
		</div><!-- Row2 E -->
		
		<!-- Row3 S -->
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w20 h100">
					<span class="inner vMid txC icon-likeicon small gray">999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-comment small gray">999</span>
				</div>
				<div class="outer w30 h100">
					<span class="inner vMid txC icon-priceicon small green">99,999</span>
				</div>
				<div class="outer w20 h100">
					<span class="inner vMid txL icon-pointicon small green">+999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-plane small green">2,500</span>
				</div>
			</div>
		</div><!-- Row3 E -->
	</div><!-- 	스타일 컨텐츠 type-6 E -->
	
	<!-- 	스타일 컨텐츠 type-7 S -->
	<div ng-class="{'col-xs-12': active == true , 'col-xs-6': active == false}"  class="col-sm-6 contentBg">
		<!-- Row1 S -->
		<div class="hrap-15">
			<div class="wrap">
				<!-- 프로필이미지 영역 -->
				<div class="outerB w15 h100">
					<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
				</div>
				<!-- 상단 정보 영역 -->
				<div class="outer w25 h50">
					<span class="inner vBot txL shopId small">유저001</span>
				</div>
				<div class="outer w50 h50">
					<span class="inner vBot txL icon-fllwicon small green">9999</span>
				</div>
				<div class="outer w10 h50">
					<span class="inner vMid txC glyphicon glyphicon-ban-circle medium gray"></span>
				</div>
				<div class="outerB w85 h50">
					<div class="commentBg">
						<span class="comment x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
					</div>
				</div>
			</div>
		</div><!-- Row1 E -->
		
		<!-- Row2 S -->
		<div class="hrap-100">
			<div class="wrap">
				<a href="#/styleDetail/cid">
					<div class="outerB w33 h33"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w33 h33"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w34 h66 fR"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x1024.jpg" alt="..."></div>
					<div class="outerB w33 h67"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x1024.jpg" alt="..."></div>
					<div class="outerB w33 h33"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w33 h34"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w34 h34"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
				</a>
			</div>
		</div><!-- Row2 E -->
		
		<!-- Row3 S -->
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w20 h100">
					<span class="inner vMid txC icon-likeicon small gray">999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-comment small gray">999</span>
				</div>
				<div class="outer w30 h100">
					<span class="inner vMid txC icon-priceicon small green">99,999</span>
				</div>
				<div class="outer w20 h100">
					<span class="inner vMid txL icon-pointicon small green">+999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-plane small green">2,500</span>
				</div>
			</div>
		</div><!-- Row3 E -->
	</div><!-- 	스타일 컨텐츠 type-7 E -->
	
	<!-- 	스타일 컨텐츠 type-8 S -->
	<div ng-class="{'col-xs-12': active == true , 'col-xs-6': active == false}"  class="col-sm-6 contentBg">
		<!-- Row1 S -->
		<div class="hrap-15">
			<div class="wrap">
				<!-- 프로필이미지 영역 -->
				<div class="outerB w15 h100">
					<img class="userProfile" src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg" alt="...">
				</div>
				<!-- 상단 정보 영역 -->
				<div class="outer w25 h50">
					<span class="inner vBot txL shopId small">유저001</span>
				</div>
				<div class="outer w50 h50">
					<span class="inner vBot txL icon-fllwicon small green">9999</span>
				</div>
				<div class="outer w10 h50">
					<span class="inner vMid txC glyphicon glyphicon-ban-circle medium gray"></span>
				</div>
				<div class="outerB w85 h50">
					<div class="commentBg">
						<span class="comment x-small">여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.여기는 코멘트 영역입니다.</span>
					</div>
				</div>
			</div>
		</div><!-- Row1 E -->
		
		<!-- Row2 S -->
		<div class="hrap-100">
			<div class="wrap">
				<a href="#/styleDetail/cid">
					<div class="outerB w33 h33"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w33 h33"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w34 h33"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w33 h67"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x1024.jpg" alt="..."></div>
					<div class="outerB w33 h33"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w34 h33"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w33 h34"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
					<div class="outerB w34 h34"><img class="itemImg" src="resources/images/sample/sample_product_woman_top_01_512x512.jpg" alt="..."></div>
				</a>
			</div>
		</div><!-- Row2 E -->
		
		<!-- Row3 S -->
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w20 h100">
					<span class="inner vMid txC icon-likeicon small gray">999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-comment small gray">999</span>
				</div>
				<div class="outer w30 h100">
					<span class="inner vMid txC icon-priceicon small green">99,999</span>
				</div>
				<div class="outer w20 h100">
					<span class="inner vMid txL icon-pointicon small green">+999</span>
				</div>
				<div class="outer w15 h100">
					<span class="inner vMid txC glyphicon glyphicon-plane small green">2,500</span>
				</div>
			</div>
		</div><!-- Row3 E -->
	</div><!-- 	스타일 컨텐츠 type-8 E -->
	
</div><!-- 마켓플레이스 E-->
