<!--
/* ==============================================================================
 * 파일명 : pickbox_style_mystyle.html
 * 화면명 : 메뉴명 > 목록 (View)
 * 작성자 : 안자훈
 * 작성일 : 2016.02.04
 * ==============================================================================
 */ 
 -->
<div class="bgGrid"></div>
 <div class="contents">
	<!-- 유저정보  start-->
	<div class="wrapper w100">
		<div class="hrap-35">
			<div class="wrap">
				<div class="backImgArea">
					<div class="backImg"><img class="w100 h100 blur" ng-src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg"></div>
				</div>
				<div class="blurBox"></div>
				<div class="outer w20 h50 circle">
					<img class="innner w100 h100 img-circle circle" ng-src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg">
				</div>
				<div class="outer w50 h85">
					<div class="inner vBot txR small userId">꾸꾸까까</div>
				</div>
				<div class="outer w50 h85">
					<div class="inner vBot txL small follow"><span class="green icon-fllwicon"></span>172</div>
				</div>
				<div class="outer w100 h10">
					<div class="inner vBot txC x-small message">안녕하세요. 현업 스타일 리스트 꾸꾸까까 입니다~*^^*</div>
				</div>
			</div>
		</div>
	</div>	
	
	<!-- 상단 navi btn -->
	 <div class="wrapper w100 topNav">
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>16</span></br>
					<span>아이템</span>
				</div>
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>8</span></br>
					<span>스타일</span>
				</div>
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>5</span></br>
					<span>필터</span>
				</div>
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>5</span></br>
					<span>팔로잉</span>
				</div>
				
			</div>
		</div>
	</div>
	
	<!-- 스타일 선택(나의 스타일 , 관심 스타일) 구역 -->
	<div class="wrapper w100 bgWht">
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w20 h100">
					<div class="inner vBot txC">
						<span class="glyphicon glyphicon-plus-sign large"></span>
					</div>
				</div>
				<div class="outer w30 h100 x-small green">
					<div class="inner vMid txC">
						<span class="small green">나의 스타일</span>
					</div>
				</div>
				<div class="outer w30 h100 x-small green">
					<div class="inner vMid txC">
						<a ng-href="#/pickboxStyleList/">
							<span class="small gray">관심 스타일</span>
						</a>		
					</div>
				</div>
				
				<div class="outer w20 h100">
					<div class="inner vMid txC">
						<span class="icon-swapviewicon large gray"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper b">
		<div class="hrap-100">
			<div class="wrap">
				<div class="outer">
					<div class="inner vMid txC b">
						<img class="w60 h25 bgImg" ng-src="resources/images/sample/pickbox/circle.png">
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>	
 
