<!--
/* ==============================================================================
 * 파일명 : 파일명.html
 * 화면명 : 메뉴명 > 목록 (View)
 * 작성자 : 홍길동
 * 작성일 : 2016.01.25
 * ==============================================================================
 */
 -->

<!-- 이 부분은 삭제하고 쓰세요(가이드용). -->
<!-- 오브젝트 데이터 표시법 -->
<div >
    <span>id : {{myData.id}}<br></span>
    <span>상품명 : {{myData.productName}}<br></span>
</div>
<!-- 리스트 데이터 표시법 -->
<div ng-repeat="x in myData" >
	<span>{{x.id}}</span>
	<span>{{x.name}}</span>
	<span>{{x.comment}}</span>
</div>
 <!-- 이 부분은 삭제하고 쓰세요. -->
 
<!--  깃허브테스트 -->
