<!--
/* ==============================================================================
 * 파일명 : pickbox_item_grid.html
 * 화면명 : 메뉴명 > 목록 (View)
 * 작성자 : 안자훈
 * 작성일 : 2016.02.03
 * ==============================================================================
 */ 
 -->
 <div class="bgGrid"></div>
 <div class="contents">
	<!-- <div class="col-xs-12 userInfor">
		<div class="blur1"></div>
		<div class="blur2"></div>
		<div class="col-xs-6 large userId">꾸꾸까까</div>
		<div class="col-xs-6 large userF"><span class="green icon-fllwicon"></span>172</div>
		<div class="col-xs-12 x-small userMessage">안녕하세요. 현업 스타일리스트 꾸꾸까까입니다~ *^^*</div>
		<img class="col-xs-12 bgImg" ng-src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg">
		<img class="col-xs-3 img-circle circleImg" ng-src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg">
	</div> -->
	<div class="wrapper w100">
		<div class="hrap-35">
			<div class="wrap">
				<div class="backImgArea">
					<div class="backImg"><img class="w100 h100 blur" ng-src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg"></div>
				</div>
				<div class="blurBox"></div>
				<div class="outer w20 h50 circle">
					<img class="innner w100 h100 img-circle circle" ng-src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg">
				</div>
				<div class="outer w50 h85">
					<div class="inner vBot txR small userId">꾸꾸까까</div>
				</div>
				<div class="outer w50 h85">
					<div class="inner vBot txL small follow"><span class="green icon-fllwicon"></span>172</div>
				</div>
				<div class="outer w100 h10">
					<div class="inner vBot txC x-small message">안녕하세요. 현업 스타일 리스트 꾸꾸까까 입니다~*^^*</div>
				</div>
			</div>
		</div>
	</div>
	<!-- pickBox top navi -->
	<div class="wrapper w100 topNav">
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>16</span></br>
					<span>아이템</span>
				</div>
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>8</span></br>
					<span>스타일</span>
				</div>
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>5</span></br>
					<span>필터</span>
				</div>
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>5</span></br>
					<span>팔로잉</span>
				</div>
				
			</div>
		</div>
	</div>
	<!-- 필터 구역 -->
	<a ng-href="#/pickboxItemList/">
		<div class="wrapper">
			<div class="hrap-10">
				<div class="wrap">
					<div class="outer">
						<div class="inner txC bgWht">
							<div class="filterBar w70 h90 vMid fL">
								<span class="icon-filtericon small">	전	체</span>
							</div>
							<div class="filterBtn w10 h95 fR"> 
								<span class="icon-swapviewicon large" style="color: #75a08d"></span>
							</div>					
						</div>
					</div>
				</div>
			</div>
		</a>
		
	<!-- grid view 영역 -->
	<div ng-repeat="x in myData" class="wrapper w31" style="margin:0.5% 0% 0.5% 1.7%;">
		<div class="hrap-200">
			<div class="wrap">
				<div class="outer">
					<div class="inner vTop bgWht b">
						<div class="hrap-25 bBot vTop">
							<span class="glyphicon glyphicon-folder-close x-small gray classIcon"></span>								
							<span class="x-small txC">분류 영역 입니다.</span>								
						</div>
						<div class="hrap-90">
							<div class="wrap">
								<div class="outer">
									<div class="inner txC vMid">
										<div class="w93 h93 gridItemImg">
											<img class="w100" ng-src="{{x.imgPath}}">
										</div>	
									</div>
								</div>
							</div>
						</div>
						<div class="hrap-20">
							<div class="wrap">
								<div class="outer">
									<div class="inner txC vTop">
										<span class="small">{{x.productName}}</span>	
									</div>
								</div>
							</div>
						</div>
						<div class="hrap-20">
							<div class="wrap">
								<div class="outer">
									<div class="inner txR vTop">
										<span class="icon-priceicon small" style="color:#408080; "></span>
										<span class="small">{{x.price}}</span>		
									</div>
								</div>
							</div>
						</div>
						<div class="hrap-45">
							<div class="wrap">
								<div class="outer">
									<div class="inner w50 txC vMid">
										<img class="w70 h70" ng-src="resources/images/sample/pickbox/buyBtn.png">
									</div>
									<div class="inner w50 txC vMid">
										<img class="w70 h70" ng-src="resources/images/sample/pickbox/pickBtn.png">
									</div>
								</div>
							</div>
						
							<div class="wrap"> 
								<div class="outer">
									<div class="pickCnt inner w30 h100 vTop txC">
										<span class="x-small green">95</span>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!-- <div ng-repeat="x in myData" class="wrapper w31 bgWht b" style="margin: 1% 1% 1% 1%;">
		분류
		<div class="hrap-25" style="border-bottom: thin #adadad solid;">
			<div class="outerL">
				<div class="vMid small" style="padding-left: 5%;">
					<span class="glyphicon glyphicon-folder-close groupIcon">
					<span class="groupName blk"> {{x.conType}}</span></span>
				</div>
			</div>
		</div>
		<div class="hrap-100 txC">
			<img class="w90" ng-src="{{x.imgPath}}" style="margin: 3% 0 0 0;">
		</div>
		상품 이름
		<div class="hrap-20 small">{{x.productName}}</div>
		상품 가격
		<div class="hrap-20 small txR">
			<span class="icon-priceicon" style="color:#408080; "></span>
			<span>{{x.price}}</span>
		</div>
		BuyBtn
		<div class="hrap-50 w50 fL">
			<img class="w100" ng-src="resources/images/sample/pickbox/buyBtn.png">
		</div>
		pickBtn
		<div class="hrap-50 w50 txC">
			<img class="w100" ng-src="resources/images/sample/pickbox/pickBtn.png">
			<span class="">95</span>
		</div>
					
	</div> -->
 </div>
