
<div id="content">
	
	<div id="section1">
			<div class="containerH10">
			<div class="w100 h100 ab">
			<div class="w100 h100 rel color1">
				<div class="w15 h100 ab l8">
				<div class="w100 h100 rel">	
					<div class="w100 h35 ab t15">
					<div class="outer">
						<span class="inner vMid txC xx-small fontColorWhite">
							16
						</span>
					</div>
					</div>
					<div class="w100 h35 ab t50">
					<div class="outer">
						<span class="inner vMid txC xx-small fontColorWhite">
							아이템
						</span>
					</div>
					</div>
				</div>	
				</div>
				<div class="w15 h100 ab l31">
					<div class="w100 h100 rel color2">	
					<div class="w100 h35 ab t15">
					<div class="outer">
						<span class="inner vMid txC xx-small fontColorWhite">
							16
						</span>
					</div>
					</div>
					<div class="w100 h35 ab t50">
					<div class="outer">
						<span class="inner vMid txC xx-small fontColorWhite">
							스타일
						</span>
					</div>
					</div>
				</div>
				</div>
				<div class="w15 h100 ab l54">
				<div class="w100 h100 rel">	
					<div class="w100 h35 ab t15">
					<div class="outer">
						<span class="inner vMid txC xx-small fontColorWhite">
							16
						</span>
					</div>
					</div>
					<div class="w100 h35 ab t50">
					<div class="outer">
						<span class="inner vMid txC xx-small fontColorWhite">
							필터
						</span>
					</div>
					</div>
				</div>
				</div>
				<div class="w15 h100 ab l77">
				<div class="w100 h100 rel">	
					<div class="w100 h35 ab t15">
					<div class="outer">
						<span class="inner vMid txC xx-small fontColorWhite">
							16
						</span>
					</div>
					</div>
					<div class="w100 h35 ab t50">
					<div class="outer">
						<span class="inner vMid txC xx-small fontColorWhite">
							팔로잉
						</span>
					</div>
					</div>
				</div>
				</div>
			</div>
			</div>
			</div>
	</div>
	
	<div id="section2">
			<div class="containerH10">
			<div class="w100 h100 ab">
			<div class="w100 h100 rel">
				<div class="w25 h100 ab">
					<img class="w100 h100" src="resources/images/sample/pickbox/pickbox_style_sub01.jpg">
				</div>
				<div class="w25 h100 ab l25">
					<img class="w100 h100" src="resources/images/sample/pickbox/pickbox_style_sub02_on.jpg">
				</div>
				<div class="w25 h100 ab l50">
					<img class="w100 h100" src="resources/images/sample/pickbox/pickbox_style_sub03_off.jpg">
				</div>
				<div class="w25 h100 ab l75">
					<img class="w100 h100" src="resources/images/sample/pickbox/pickbox_style_sub04.jpg">
				</div>
			</div>
			</div>			
			</div>
	</div>
	
	<div id="section3">
			<div class="containerH20">
			<div class="w100 h100 ab">
				<div class="w100 h50 rel">
					<div class="w21_5 h70 ab l3 t20">
						<button class="w100 h100 colorWhite borderRadius10">
						<div class="outer">
							<span class="inner vMid txC xx-small">
								공  개
							</span>
						</div>
						</button>
					</div>
					<div class="w21_5 h70 ab l26_5 t20">
						<button class="w100 h100 color3 borderRadius10">
						<div class="outer">
							<span class="inner vMid txC xx-small">
								비 공  개
							</span>
						</div>
						</button>
					</div>
				</div>
				<div class="w100 h50 rel">
					<div class="w10_25 h95 ab l2 t5">
						<button class="w100 h100 color3 borderRadius10">
						<div class="outer">
							<span class="inner vMid txC x-small">
								1
							</span>
						</div>
						</button>
					</div>
					<div class="w10_25 h95 ab l14_25 t5">
						<button class="w100 h100 color3 borderRadius10">
						<div class="outer">
							<span class="inner vMid txC x-small">
								2
							</span>
						</div>
						</button>
					</div>
					<div class="w10_25 h95 ab l26_5 t5">
						<button class="w100 h100 colorWhite borderRadius10">
						<div class="outer">
							<span class="inner vMid txC x-small">
								3
							</span>
						</div>
						</button>
					</div>
					<div class="w10_25 h95 ab l38_75 t5">
						<button class="w100 h100 color3 borderRadius10">
						<div class="outer">
							<span class="inner vMid txC x-small">
								4
							</span>
						</div>
						</button>
					</div>
					<div class="w10_25 h95 ab l51 t5">
						<button class="w100 h100 color3 borderRadius10">
						<div class="outer">
							<span class="inner vMid txC x-small">
								5
							</span>
						</div>
						</button>
					</div>
					<div class="w10_25 h95 ab l63_25 t5">
						<button class="w100 h100 color3 borderRadius10">
						<div class="outer">
							<span class="inner vMid txC x-small">
								6
							</span>
						</div>
						</button>
					</div>
					<div class="w10_25 h95 ab l75_5 t5">
						<button class="w100 h100 color3 borderRadius10">
						<div class="outer">
							<span class="inner vMid txC x-small">
								7
							</span>
						</div>
						</button>
					</div>
					<div class="w10_25 h95 ab l87_75 t5">
						<button class="w100 h100 color3 borderRadius10">
						<div class="outer">
							<span class="inner vMid txC x-small">
								8
							</span>
						</div>
						</button>
					</div>
				</div>
			</div>
			</div>
	</div>
	
	<div id="section4">
		<!-------------------------------------- 1 ---------------------------------->
		<div class="containerH100">
		<div class="w100 h100 ab">
		<div class="w100 h100 rel">
			<div class="w96 h96 ab l2 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
		</div>
		</div>
		</div>
		
		<!-------------------------------------- 2 ---------------------------------->
		<div class="containerH100">
		<div class="w100 h100 ab">
		<div class="w100 h100 rel">
			<div class="w47 h96 ab l2 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h96 ab l51 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
		</div>
		</div>
		</div>
		
		<!-------------------------------------- 3 ---------------------------------->
		<div class="containerH100">
		<div class="w100 h100 ab">
		<div class="w100 h100 rel">
			<div class="w47 h47 ab l2 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h47 ab l2 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h96 ab l51 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
		</div>
		</div>
		</div>
		
		<!-------------------------------------- 4 ---------------------------------->
		<div class="containerH100">
		<div class="w100 h100 ab">
		<div class="w100 h100 rel">
			<div class="w47 h47 ab l2 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h47 ab l2 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h47 ab l51 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h47 ab l51 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
		</div>
		</div>
		</div>

		<!-------------------------------------- 5 ---------------------------------->
		<div class="containerH100">
		<div class="w100 h100 ab">
		<div class="w100 h100 rel">
			<div class="w23 h47 ab l2 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w23 h47 ab l26 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h47 ab l2 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h47 ab l51 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h47 ab l51 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
		</div>
		</div>
		</div>
		
		<!-------------------------------------- 6 ---------------------------------->
		<div class="containerH100">
		<div class="w100 h100 ab">
		<div class="w100 h100 rel">
			<div class="w23 h47 ab l2 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w23 h47 ab l26 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h47 ab l51 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w31 h47 ab l2 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w31 h47 ab l34_5 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w31 h47 ab l67 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
		</div>
		</div>
		</div>
		<!-------------------------------------- 7 ---------------------------------->
		<div class="containerH100">
		<div class="w100 h100 ab">
		<div class="w100 h100 rel">
			<div class="w23 h23 ab l2 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w23 h23 ab l26 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h23 ab l2 t26">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h47 ab l51 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w31 h47 ab l2 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w31 h47 ab l34_5 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w31 h47 ab l67 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
		</div>
		</div>
		</div>
		
		<!-------------------------------------- 8 ---------------------------------->
		<div class="containerH100">
		<div class="w100 h100 ab">
		<div class="w100 h100 rel">
			<div class="w23 h23 ab l2 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w23 h23 ab l26 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w23 h23 ab l2 t26">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w23 h23 ab l26 t26">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w47 h47 ab l51 t2">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w31 h47 ab l2 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w31 h47 ab l34_5 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
			<div class="w31 h47 ab l67 t51">
				<img class="w100 h100" src="resources/images/sample/pickbox/sample_img1.jpg">
			</div>
		</div>
		</div>
		</div>
		
	</div>
	
	<div id="section5">
		<div class="containerH10">
		<div class="w100 h100 ab">
		<div class="w100 h100 rel">
			<div class="w96 h80 ab l2 t10">
				<button class="w100 h100 colorWhite">
				<div class="outer">
					<span class="inner vMid txC x-small">
						간단한 소개글을 입력해주세요
					</span>
				</div>
				</button>
			</div>
		</div>
		</div>
		</div>
	</div>

	<div id="section6">
		<div class="containerH10">
		<div class="w100 h100 ab">
		<div class="w100 h100 rel">
			<div class="w96 h80 ab l2 t10">
				<button class="w100 h100 color4 borderRadius20">
				<div class="outer">
					<span class="inner vMid txC x-small fontColorWhite">
						등&nbsp&nbsp&nbsp&nbsp&nbsp록
					</span>
				</div>
				</button>
			</div>
		</div>
		</div>
		</div>
	</div>
	
</div>
