<!--
/* ==============================================================================
 * 파일명 : pickbox_folder_list.html
 * 화면명 : 메뉴명 > 목록 (View)
 * 작성자 : 안자훈
 * 작성일 : 2016.01.29
 * ==============================================================================
 */
 -->
 <div class="bgGrid"></div>
 <div class="contents">
	<div class="wrapper w100">
		<div class="hrap-35">
			<div class="wrap">
				<div class="backImgArea">
					<div class="backImg"><img class="w100 h100 blur" ng-src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg"></div>
				</div>
				<div class="blurBox"></div>
				<div class="outer w20 h50 circle">
					<img class="innner w100 h100 img-circle circle" ng-src="resources/images/sample/sample_profile_user_woman_02_512x512.jpg">
				</div>
				<div class="outer w50 h85">
					<div class="inner vBot txR small userId">꾸꾸까까</div>
				</div>
				<div class="outer w50 h85">
					<div class="inner vBot txL small follow"><span class="green icon-fllwicon"></span>172</div>
				</div>
				<div class="outer w100 h10">
					<div class="inner vBot txC x-small message">안녕하세요. 현업 스타일 리스트 꾸꾸까까 입니다~*^^*</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="wrapper w100 topNav">
		<div class="hrap-10">
			<div class="wrap">
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>16</span></br>
					<span>아이템</span>
				</div>
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>8</span></br>
					<span>스타일</span>
				</div>
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>5</span></br>
					<span>필터</span>
				</div>
				<div class="outer w25 h100 x-small wht txC pt1">
					<span>5</span></br>
					<span>팔로잉</span>
				</div>
				
			</div>
		</div>
	</div>
	<!-- 분류 영역(고정:전체,미분류,새로 만들기) -->
	<a ng-href="#/pickboxItemList/">
		<div class="wrapper w33">
			<div class="hrap-150">
				<div class="wrap">
					<div class="outer">
						<div class="inner txR vTop" style="padding-top: 10%;">
							<img class="w90 h80" ng-src="resources/images/sample/pickbox/w_box.png" alt="...">
							<div class="w15 x-small itemCnt">16</div>
							<div class="w60 h40 folderContents">
								<img class="w50 h50 fL" ng-src="resources/images/sample/top.png">
								<img class="w50 h50 fL" ng-src="resources/images/sample/shoes.png">
								<img class="w50 h50 fL" ng-src="resources/images/sample/coat.png">
								<img class="w50 h50 fL" ng-src="resources/images/sample/top.png">
							</div>
							<div class="folderTitle w90 small txC">전 체</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</a>	
	<div class="wrapper w33">
		<div class="hrap-150">
			<div class="wrap">
				<div class="outer">
					<div class="inner txR vTop" style="padding-top: 10%;">
						<img class="w90 h80" ng-src="resources/images/sample/pickbox/g_box.png" alt="...">
						<div class="w15 x-small itemCnt">7</div>
						<div class="w60 h40 folderContents">
							<img class="w50 h50 fL" ng-src="resources/images/sample/top.png">
							<img class="w50 h50 fL" ng-src="resources/images/sample/shoes.png">
							<img class="w50 h50 fL" ng-src="resources/images/sample/coat.png">
							<img class="w50 h50 fL" ng-src="resources/images/sample/top.png">
						</div>
						<div class="folderTitle w90 small txC">미 분 류</div>	
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="wrapper w33">
		<div class="hrap-150">
			<div class="wrap">
				<div class="outer">
					<div class="inner txR vTop" style="padding-top: 10%;">
						<img class="w90 h80" ng-src="resources/images/sample/box3.png" alt="...">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 기존에 만들어 놓았던 분류 로딩 -->
	<div ng-repeat="x in myData" class="wrapper w33" style="margin-top: -10%;">
		<div class="hrap-150">
			<div class="wrap">
				<div class="outer">
					<div class="inner txR vTop" style="padding-top: 10%;">
						<img class="w90 h80" src="resources/images/sample/pickbox/w_box.png" alt="...">
						<div class="w15 x-small itemCnt">7</div>
						<div class="w60 h40 folderContents">
							<img class="w50 h50 fL" src="resources/images/sample/top.png">
							<img class="w50 h50 fL" src="resources/images/sample/shoes.png">
							<img class="w50 h50 fL" src="resources/images/sample/coat.png">
							<img class="w50 h50 fL" src="resources/images/sample/top.png">
						</div>
						<div class="folderTitle w90 small txC">분 류 명 </div>	
					</div>
				</div>
			</div>
		</div>
	</div>		
		
		
	
</div>
 
<!--  깃허브테스트 -->
