/* ==============================================================================
 * 파일명 : marketplace_list.css
 * 화면명 : 마켓플레이스 > 목록 (Style)
 * 작성자 : 김종길
 * 작성일 : 2016.01.25
 * ==============================================================================
 */
@CHARSET "utf-8";

/* 필터버튼 크기만큼 마진 줘야함 */
.marketplace {
	padding-top: 55px;
	width: 100%;
	height: 100%;
}

/* 필터영역 */
.filter-area {
	margin-top: 40px;
}

.filterBtnBg {
	height: 45px;
	background-color: rgba(116, 159, 139, 0.5);
}

.filterIcon{
	display: inline-block;
	vertical-align: middle;
}

.itemImg {
	width: 100%;
    height: 100%;
    border: 1px;
    border-color: white;
    border-style: solid;
}

/* 판매자상품 레이아웃*/
.shopProfile {
	padding: 4px;
	width: 100%;
	height: auto;
}
.shopProfileTxt {
	position:absolute;
	left: 1.5%;
	top: 35%;
	font-size: 4vw;
	font-weight: bold;
	opacity: 0.7;
	filter: alpha(opacity = 90);
	color: white;
	text-shadow: 0 0 2px black;
}
.shopId{
	padding-left: 5px;
}
.banIcon{
	vertical-align : middle;
	padding-right: 10px;
}
.commentBg{
	width : 98%;
	height : 80%;
	background-color: #f2f2f2;
	border-radius : 20px;
	padding-left : 5px;
	padding-right : 5px; 
}
.comment{
	display : inline-block;
	vertical-align : middle;
	width : 100%;
	height : 100%;
	text-overflow : ellipsis;
	white-space: nowrap;
	overflow : hidden;
}

/* 스타일 컨텐츠 레이아웃 */
.userProfile{
	padding: 4px;
	width: 100%;
	height: auto;
	border-radius: 50%;
}
