/* ==============================================================================
 * 파일명 : marketplace_list.css
 * 화면명 : 마켓플레이스 > 목록 (Style)
 * 작성자 : 김종길
 * 작성일 : 2016.01.25
 * ==============================================================================
 */

@CHARSET "utf-8";

/* 필터버튼 크기만큼 마진 줘야함 */
.marketplace {
  margin-top: 45px;
  width: 100%;
}

/* 필터영역 */
.filter-area {
  margin-top: 40px;
}

.filterBtnBg {
	height: 45px;
	text-align:center; 
    vertical-align:middle;
	background-color: rgba(116, 159, 139, 0.5);
}


.userProfileImg {
	width: 75%;
	height: auto;
	border-radius: 50%;
}

.itemImg{
	width: 100%;
}


/* 판매자상품 레이아웃*/
.shopProfileArea{
	width: 100%;
	margin: 0 0 0 0;
}
.shopProfileImgArea{
	display:inline-block;
	width: 15%;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.shopProfileImg {
	margin: 5px 5px 5px 5px;
	width: 100%;
	height: auto;
	border-radius: 6px;
}

.shopName {
	
}


.