/* ==============================================================================
 * 파일명 : marketplace_list.css
 * 화면명 : 마켓플레이스 > 목록 (Style)
 * 작성자 : 김종길
 * 작성일 : 2016.01.25
 * ==============================================================================
 */

@CHARSET "utf-8";

/* 필터영역 */
.marketplace {
  margin-top: 40px;
  width: 100%;
}
.filter-area {
  margin-top: 30px;
}
.filterBtnBg {
	height: 40px;
	text-align:center; 
    vertical-align:middle;
	background-color: rgba(116, 159, 139, 0.5);
}