@CHARSET "UTF-8";


.hrap-6{position: relative;height: 0;overflow: hidden;width: 100%;padding-bottom: 6%}

.color1 {background-color: rgb(229, 229, 229);}
.color2 {background-color: rgb(179, 201, 190);}
.color3 {background-color: rgb(215, 224, 219);}
.color4 {background-color: rgb(179, 200, 191);}

.color11 {background-color: rgb(229, 229, 229);}
.color12 {background-color: rgb(179, 201, 190);}
.color13 {background-color: rgb(215, 224, 219);}
.color14 {background-color: rgb(179, 200, 191);}
.color15 {background-color: rgb(179, 201, 190);}
.color16 {background-color: rgb(242, 242, 242);}
.color17 {background-color: rgb(109, 150, 132);}


.colorBack {background-color: rgb(243, 243, 243);}
.colorWhite {background-color: rgb(255, 255, 255);}

