@CHARSET "utf-8";

/* CSS리셋부분 부트스트랩 사용하면 필요없음 */
/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { */

/*    margin: 0; */
/*    padding: 0; */
/*    border: 0; */
/*    font-size: 100%; */
/*    font: inherit; */
/*    vertical-align: baseline; */
/* } */

/* body { line-height: 1; } */
/* ol, ul { list-style: none; } */
/* blockquote, q { quotes: none;} */
/* blockquote:before,  */
/* blockquote:after, */
/* q:before, q:after { */
/* 	content: '';  */
/* 	content: none; */
/* } */
/* table { */
/* 	border-collapse:  */
/* 	collapse;border-spacing: 0; */
/* } */

/* [공통]기본글자색 */
div {
	color: #333333;
	font-size: 5vw
}

/* homp.jsp 용 Start*/
/* [공통]상단고정영역 > 팝모드버튼영역 */
.popModeBtnBg {
    height:40px; 
	background-color: #68917f;
}

/* [공통]컨텐츠영역 */
/* 위, 아래 고정 버튼영역 만큼 마진 줘야함 */
.contentsArea{margin-top: 40px; margin-bottom: 50px;}

/* [공통]하단고정영역 */
.botBtnBg{
	height: 50px;
	background-color: #3a4942;
}
/* homp.jsp End*/


/* [공통]폰트사이즈 */
.xx-small{font-size: 2vw;}
.x-small{font-size: 3vw;}
.small{font-size: 4vw;}
.medium{font-size: 5vw;}
.large{font-size: 7vw;}
.x-large{font-size: 9vw;}
.xx-large{font-size: 11vw;}
.xxx-large{font-size: 13vw;}
.xxxx-large{font-size: 15vw;}

.pt6{font-size: 6pt}
.pt7{font-size: 7pt}
.pt8{font-size: 8pt}
.pt9{font-size: 9pt}
.pt10{font-size: 10pt}
.pt11{font-size: 11pt}
.pt12{font-size: 12pt}
.pt13{font-size: 13pt}
.pt14{font-size: 14pt}
.pt15{font-size: 15pt}
.pt16{font-size: 16pt}
.pt17{font-size: 17pt}
.pt18{font-size: 18pt}
.pt19{font-size: 19pt}
.pt20{font-size: 20pt}
.pt21{font-size: 21pt}
.pt22{font-size: 22pt}
.pt23{font-size: 23pt}
.pt24{font-size: 24pt}
.pt25{font-size: 25pt}


/* [공통]폰트컬러 */
.wht{color: white;}
.blk{color: black;}
.green{color: #408080;}
.gray{color: gray;}


/* [공통]div테이블 */
.tbl {
	display: table;
	width: 100%;
	height: 100%;
}
.tbl-tr {
	display: table-row;
	height: 100%;
}
.tbl-td {
	display: table-cell;
}

/* [공통]레이아웃용 */

.iL-B{display: inline-block;}

.fL{float: left;}
.fR{float: right;}

.txL{text-align: left;}
.txC{text-align: center;}
.txR{text-align: right;}

.txTop{vertical-align: top;}
.txMid{vertical-align: middle;}
.txBot{vertical-align: bottom;}

.txLT{text-align: left;vertical-align: top;}
.txLM{text-align: left;vertical-align: middle;}
.txLB{text-align: left;vertical-align: bottom;}
.txCT{text-align: center;vertical-align: top;}
.txCM{text-align: center;vertical-align: middle;}
.txCB{text-align: center;vertical-align: bottom;}
.txRT{text-align: right;vertical-align: top;}
.txRM{text-align: right;vertical-align: middle;}
.txRB{text-align: right;vertical-align: bottom;}

/* .txLft,.txCnt,.txRgt,.txTop,.txMid,.txBot,.txLT,.txLM,.txLB, */
/* .txCT,.txCM,.txCB,.txRT,.txRM,.txRB{ */
/* 	display: table-cell; */
/* } */


.wrapper{
	position: relative;
	height: 0;
	overflow: hidden;
/* 	기본값 잡아 놓은거 */
	width: 100%;
	padding-bottom: 50%
}

/* .h5,.h10,.h15,.h20,.h25,.h30,.h35,.h40,.h45,.h50,.h55, */
/* .h60,.h65,.h70,.h75,.h80,.h85,.h90,.h95,,.h100,.h105, */
/* .h110,.h115,.h120,.h125,.h130,.h135,.h140,.h145,.h150, */
/* .h155,.h160,.h165,.h170,.h175,.h180,.h185,.h190,.h195, */
/* .h200{ */
/* 	position: relative; */
/* 	height: 0; */
/* 	overflow: hidden; */
/* } */

.H5{width: 100%;padding-bottom: 5%}
.H10{width: 100%;padding-bottom: 10%}
.H15{width: 100%;padding-bottom: 15%}
.H20{width: 100%;padding-bottom: 20%}
.H25{width: 100%;padding-bottom: 25%}
.H30{width: 100%;padding-bottom: 30%}
.H35{width: 100%;padding-bottom: 35%}
.H40{width: 100%;padding-bottom: 40%}
.H45{width: 100%;padding-bottom: 45%}
.H50{width: 100%;padding-bottom: 50%}
.H55{width: 100%;padding-bottom: 55%}
.H60{width: 100%;padding-bottom: 60%}
.H65{width: 100%;padding-bottom: 65%}
.H70{width: 100%;padding-bottom: 70%}
.H75{width: 100%;padding-bottom: 75%}
.H80{width: 100%;padding-bottom: 80%}
.H85{width: 100%;padding-bottom: 85%}
.H90{width: 100%;padding-bottom: 90%}
.H95{width: 100%;padding-bottom: 95%}
.H100{width: 100%;padding-bottom: 100%}
.H105{width: 100%;padding-bottom: 105%}
.H110{width: 100%;padding-bottom: 110%}
.H115{width: 100%;padding-bottom: 115%}
.H120{width: 100%;padding-bottom: 120%}
.H125{width: 100%;padding-bottom: 125%}
.H130{width: 100%;padding-bottom: 130%}
.H135{width: 100%;padding-bottom: 135%}
.H140{width: 100%;padding-bottom: 140%}
.H145{width: 100%;padding-bottom: 145%}
.H150{width: 100%;padding-bottom: 150%}
.H155{width: 100%;padding-bottom: 155%}
.H160{width: 100%;padding-bottom: 160%}
.H165{width: 100%;padding-bottom: 165%}
.H170{width: 100%;padding-bottom: 170%}
.H175{width: 100%;padding-bottom: 175%}
.H180{width: 100%;padding-bottom: 180%}
.H185{width: 100%;padding-bottom: 185%}
.H190{width: 100%;padding-bottom: 190%}
.H195{width: 100%;padding-bottom: 195%}
.H200{width: 100%;padding-bottom: 200%}

.wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.wdP100{width: 100%}
.wdP95{width: 95%}
.wdP90{width: 90%}
.wdP85{width: 85%}
.wdP80{width: 80%}
.wdP75{width: 75%}
.wdP70{width: 70%}
.wdP65{width: 65%}
.wdP60{width: 60%}
.wdP55{width: 55%}
.wdP50{width: 50%}
.wdP45{width: 45%}
.wdP40{width: 40%}
.wdP35{width: 35%}
.wdP30{width: 30%}
.wdP25{width: 25%}
.wdP20{width: 20%}
.wdP15{width: 15%}
.wdP10{width: 10%}
.wdP5{width: 5%}
.wdPempty{width: 0%}

.htP100{height: 100%}
.htP95{height: 95%}
.htP90{height: 90%}
.htP85{height: 85%}
.htP80{height: 80%}
.htP75{height: 75%}
.htP70{height: 70%}
.htP65{height: 65%}
.htP60{height: 60%}
.htP55{height: 55%}
.htP50{height: 50%}
.htP45{height: 45%}
.htP40{height: 40%}
.htP35{height: 35%}
.htP30{height: 30%}
.htP25{height: 25%}
.htP20{height: 20%}
.htP15{height: 15%}
.htP10{height: 10%}
.htP5{height: 5%}
.htPempty{height: 0%}

.fit{padding: 0; margin: 0;}


/* [공통]커스텀아이콘 */
@font-face {
  font-family: 'pickpop-iconset';
  src: url('fonts/pickpop-iconset.eot?86221556');
  src: url('fonts/pickpop-iconset.eot?86221556#iefix') format('embedded-opentype'),
       url('fonts/pickpop-iconset.woff?86221556') format('woff'),
       url('fonts/pickpop-iconset.ttf?86221556') format('truetype'),
       url('fonts/pickpop-iconset.svg?86221556#pickpop-iconset') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pickpop-iconset';
    src: url('fonts/pickpop-iconset.svg?86221556#pickpop-iconset') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pickpop-iconset";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-pickicon:before { content: '\e800'; } /* '' */
.icon-pickboxicon:before { content: '\e801'; } /* '' */
.icon-likeicon:before { content: '\e802'; } /* '' */
.icon-nexticon:before { content: '\e803'; } /* '' */
.icon-homeicon:before { content: '\e804'; } /* '' */
.icon-fllwicon:before { content: '\e805'; } /* '' */
.icon-filtericon:before { content: '\e806'; } /* '' */
.icon-checkouticon:before { content: '\e807'; } /* '' */
.icon-swapviewicon:before { content: '\e808'; } /* '' */
.icon-priceicon:before { content: '\e809'; } /* '' */
.icon-previcon:before { content: '\e80a'; } /* '' */
.icon-popmodeicon:before { content: '\e80b'; } /* '' */
.icon-pointicon:before { content: '\e80c'; } /* '' */